section{
    height: 100vh;
}

.portada{
    height: 65vh;
}

.cuadrado-portada{
    width: 100%;
    background: #F0E9DD;
    height: 34vh;
    margin-top: 9%;
}

.lateral{
    position: relative;
    left: 23%;
    width: 60%;
}

.lateral p{
    font-size: 6vh;
    transform: rotate(-90deg);
    width: 900px;
    position: relative;
    top:-420px;
    left: -420px;
    font-family: 'Segoe UI',sans-serif;
    font-weight: lighter;
}

.imagen{
    background: gray;
    width: 45vh;
    height: 55vh;
    position: relative;
    left: 8.3vh;
    top:-58vh;
}

.lateral h2{
    position: relative;
    width: 65%;
    top:-94vh;
    left: 59vh;
    font-size: 3.4vh;
    font-weight: lighter;
    font-family: 'Segoe UI',sans-serif;
}

.container-1{
    background: #F0E9DD;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parrafo{
    width: 50%;
    text-align: center;
    font-family: 'Segoe UI', sans-serif;
    font-weight:lighter;
    font-size: 3vh;
    display: inline-block;
}

.parrafo p{
    line-height: 4.8vh;
}


.container-2{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagen-1{
    background-image: url("https://i.ibb.co/vBW5xpR/IMG-5050-2.jpg");
    background-size:contain;
    background-repeat: no-repeat;
    width: 55vh;
    height: 62vh;
    display: inline-block;
    margin-left: 100px;
}


.imagen-2{
    background:url("https://i.ibb.co/WF4wv1z/IMG-5030.jpg");
    background-size:contain;
    background-repeat: no-repeat;
    width: 55vh;
    height: 62vh;
    display: inline-block;
    margin-right: 100px;
}