<body>
    <header>
        <app-title-pages></app-title-pages>  
    </header>

    <main>
        <section class="portada">
            <div class="cuadrado-portada"></div>
            <div class="lateral">
                <p>Identidad Profesional</p>
                <div class="imagen"></div>
                <div class="description-portada">
                    <h2>Profesional íntegra
                        capacitada para la Interpretación
                        de los diseños hacia el patronaje
                        y el escalado en diferentes tallas,
                        en busca de un calce perfecto
                        en el cuerpo. Capaz de desarrollar
                        productos finales
                        de calidad.</h2>
                </div>
            </div>
        </section>

        <section class="container-1">
        <div class="parrafo" data-aos="fade-right" data-aos-delay="50" data-aos-duration="900" data-aos-once="false">
            <p>Mi nombre es Daniela Fuentes Méndez, nacida en la zona central de Chile, en el año 1996. Siempre he vivido en Belloto, un sector tranquilo y rodeado de cerros. </p>
            <p>Me interesa la naturaleza, lo digital y aprender cosas nuevas. Me considero una persona práctica, organizada y comprometida. Toda la vida he tenido interés por la moda y el diseño, influenciada por mi abuela modista y una familia de escritores y músicos.
            </p>
        </div>
        <div class="imagen-1" 
        data-aos="fade-left"
        data-aos-delay="50"
        data-aos-duration="900"
        data-aos-once="false"
        ></div>

        </section>

        <section class="container-2">
            <div class="imagen-2"
            data-aos="fade-right"
            data-aos-delay="50"
            data-aos-duration="900"
            data-aos-once="false"></div>
            <div class=parrafo data-aos="fade-left" data-aos-delay="50" data-aos-duration="900" data-aos-once="false">
                <p>Mi proceso de diseño ocurre en un entorno tranquilo, enfocado en la cotidianeidad del día a día, un entorno orgánico, el cual conjuga lo funcional con lo estético de forma elegante.
                </p>
                <p>
                    Como diseñadora busco aportar y entregar valor con sentido, ayudar a las personas a sentirse cómodas en su propia piel, entregar un vestuario que se adapte a cada tipo de cuerpo, y no que la gente deba adaptarse al vestuario.
                </p>
            </div>
        </section>
    </main>
    
</body>
