<body>
    <header>
        <app-title-pages></app-title-pages>  
    </header>
   
    <main>
        <section>
            <div class="container-fluid">
                <div class="row justify-content-md-center">
                    <div class="col-md-auto">
                        <div class="image" 
                        data-aos="fade-left"
                        data-aos-delay="700"
                        data-aos-duration="900"
                        data-aos-once="true">
                            <div class="balls">
                                <i id="color-1"></i>
                                <i id="color-2"></i>
                                <i id="color-3"></i>
                                <i id="color-4"></i>
                                <i id="color-5"></i>
                            </div>
                            <img src="https://scontent.fscl15-1.fna.fbcdn.net/v/t1.6435-9/146197926_941222510027276_6214866046685391742_n.jpg?_nc_cat=104&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=uVCL_xWgr2QAX-LnQwA&_nc_ht=scontent.fscl15-1.fna&oh=6ea1a893c34b4409e809b4fde98d8dd4&oe=609AD249" alt="">

                            <div class="about">
                                <h2>"Profesional íntegra</h2>
                                <h2>capacitada para la Interpretación</h2>
                                <h2>de los diseños hacia el patronaje</h2> 
                                <h2>y el escalado en diferentes tallas,</h2>
                                <h2>en busca de un calce perfecto</h2>
                                <h2>en el cuerpo. Capaz de desarrollar</h2>
                                <h2>productos finales</h2> 
                                <h2>de calidad."</h2>
                            </div>   
                        </div>
                      </div>
                </div>
            </div>
        </section>

        <br>

 <div class="contenido">
      <div class="izquierda">

        <section>
            <h2 class="title">ANTECEDENTES PERSONALES</h2>
            <article>
                <div class="antecedentes">
                    <p>Nacionalidad: Chilena</p>
                    <p>Edad: 24 años</p>
                    <p>Ubicación: Quilpué, Chile</p>
                </div>
            </article>
        </section>

        <section>
            <h2 class="title">HABILIDADES DIGITALES</h2>
            <article>
                <div class="habilidades-digitales">
                    <div class="adobe-systems" style="margin-bottom: 14px;">
                    <p style="font-weight: bolder;">Adobe Systems</p>
                    <p style="color: #C88770;">Diseño, Ilustración y</p>
                    <p style="color: #C88770">Edición de Fotografía</p>
                    <p>- Adobe Illustrator</p> 
                    <p>- Adobe Photoshop</p>
                    <p>- Adobe Lightroom</p>
                    <p>- Adobe XD</p>
                    </div>

                    <div class="lectra-systemes" style="margin-bottom: 14px;">
                        <p style="font-weight: bolder; margin: 4px 0px;">Lectra Systémes</p>
                        <p style="color: #C88770;">Patronaje, Escalado,</p>
                        <p style="color: #C88770;"> Tendido, y Corte Digital</p>
                        <p>Edición de Fotografía</p>
                        <p>- Modaris</p> 
                        <p>- Diamino</p>
                    </div>

                    <div class="Microsoft" style="margin-bottom: 14px;">
                        <p style="font-weight: bolder; margin: 4px 0px;">Microsoft Office</p>
                        <p>- Microsoft Word </p>
                        <p>- Microsoft PowerPoint</p>
                        <p>- Microsoft Excel</p>
                    </div>
                </div>
            </article>
        </section>

        <section>
            <h2 class="title">COMPETENCIAS LABORALES</h2>
            <article>
                <div class="competencias">
                    <p>- Vestuario Femenino Avanzado</p>
                    <p>- Vestuario Masculino</p>
                    <p>- Vestuario Infantil</p>
                    <p>- Documentación Técnica de Vestuario</p>
                    <p>- Patronaje computacional y análogo</p>
                    <p>- Escalado Industrial Avanzado</p>
                    <p>- Materiales y Técnicas Textiles</p>
                    <p>- Desarrollo de líneas de productos</p>
                    <p>- Procesos industriales para la confección</p>
                </div>

            </article>
        </section>

        <section>
            <h2 class="title">IDIOMAS</h2>
            <article>
                <div class="idiomas">
                    <p>- Español Nativo</p>
                    <p>- Inglés Intermedio</p>
                </div>
            </article>
        </section>
        
        <section>
            <h2 class="title">LOGROS</h2>
            <article>
                <div class="logros">
                    <p style="font-weight: bolder; margin-bottom: 7px;">Primer Lugar</p>
                    <p style="color: #5E5C5B">"Crea el diseño de la generación 2021"</p>
                    <p style="color: #C88770;">Escuela de Informática - PUCV 2021</p>
                    <p>Realización de diseño de  estampado para camiseta</p>
                </div>
            </article>
        </section>
        
        <section>
            <h2 class="title">HABILIDADES</h2>
            <article>
                <div class="habilidades">
                    <p>Responsable, organizada, comprometida, proactiva, detallista y flexible.
                        Trabajo en equipo, liderazgo, escucha activa e inteligencia emocional.</p>
                </div>
            </article>
        </section>

        <section>
            <h2 class="title">INTERESES</h2>
            <article>
                <div class="intereses">
                    Fotografía, ciclismo, cine, lectura, música, cocina, crecimiento personal y espiritualidad.
                </div>
            </article>
        </section>

    </div>

        <div class="derecha">
            <section>
                <h2>EDUCACIÓN ESCOLAR</h2>
                <h3>Liceo y Escuela Juan XXIII</h3>
                <h4>Generación 2014</h4>
                <p>- Diferenciado Humanista</p>
                <p>- Reconocimiento mejor  compañera año 2014</p> 
            </section>
            <section>
                <h2>EDUCACIÓN SUPERIOR</h2>
                <h3 class="administracion">Administración de Empresas</h3>
                <h4>Área de Administración</h4>
                <p style="color: #5E5C5B">INACAP, Valparaíso</p>
                <p>- 2015 a 2016 </p> 
                <p>- Certificación en Protocolo y Oratoria Moderna</p>
            </section>
            <section>
                <h3>Diseño de Vestuario</h3>
                <h4>Escuela de Diseño</h4>
                <p style="color: #5E5C5B">Instituto Profesional Duoc UC, Viña del Mar</p>
                <p>- 2018 a 2021</p>
                <p>- Salida Intermedia</p> 
            </section>
            <section>
                <h2>EXPERIENCIA PROFESIONAL</h2>
                <h3>Práctica Profesional</h3>
                <h4>Lemon Rush</h4>
                <p style="margin-bottom: -10px; color: #5E5C5B">Viña del Mar</p>
                <p style="color: #5E5C5B;">Marzo 2021 a Junio 2021</p> 
                <p style="font-style: oblique; padding: 20px 0px; color: #5E5C5B">Marca  de estilo propio, enfocada en el diseño de chaquetas a medida, y a la creación de pecheras.</p>
                <div class="exp-prof">
                <p>- Tendido y corte de tela</p>
                <p>- Interpretación de los diseños a la moldería</p>
                <p>- Propuestas de Diseño</p>
                <p>- Escalado de prendas a diferentes tallas</p>
                <p>- Realización de patrones</p>
                <p>- Edición de fotografía</p>
                <p>- Gestión y apoyo en el área digital</p>
                <p>- Fichas Técnicas</p>
                </div>
            </section>
            <section>
                <h3>Creación de marca propia</h3>
                <h4>HAMPHY</h4>
                <p style="margin-bottom: -10px; color: #5E5C5B">Quilpué</p>
                <p style="color: #5E5C5B">Julio de 2020 </p>
                <p style="font-style: oblique; margin-bottom: -3px; color: #5E5C5B; padding-top: 20px;">Proyecto personal en crecimiento.</p>
                <p style="font-style: oblique; color: #5E5C5B; padding-bottom: 20px;">Marca local de moda lenta.</p>
                <div class="exp">
                    <p>- Estudios de usuario y de tendencias</p>
                    <p>- Creación de marca e identidad visual</p>
                    <p>- Presencia digital</p>
                    <p>- Desarrollo de moldes</p>
                    <p>- Tendido y corte de tela</p>
                    <p>- Confección y packaging de productos</p>
                    <p>- Venta y distribución de productos</p>
                    <p>- Producción audiovisual y fotográfica</p>
                    <p>- Edición de audiovisual</p>
                </div>
                <div class="iconos">
                    <svg xmlns="http://www.w3.org/2000/svg" width="170" height="76" viewBox="0 0 170 82">
                        <text id="HAMPHY" transform="translate(0 64)" font-size="40" font-family="Anton-Regular, Anton" opacity="0.9"><tspan x="50" y="0">HAMPHY</tspan></text>
                    </svg>
                    <span>|</span>
                    <a href="https://www.facebook.com/Hamphy-101604702002780" target="_blank"> <i class="fab fa-facebook-square"></i></a>
                    <a href="https://instagram.com/hamphy.cl?igshid=w632p4bqpup" target="_blank"><i class="fab fa-instagram"></i></a>
                    
                   
                </div>
            </section>
        </div>

</div>
    </main>
</body>


