<body>
    <header>
        <app-mobile-title-pages></app-mobile-title-pages>  
    </header>

    <main>
        <section class="portada">
            <div class="row">
                <div class="col-12 mb-5">
                    <div class="cuadrado-portada"></div>
                    <div class="lateral">
                        <p>Identidad Profesional</p>
                        <img class="imagen img-fluid" src="https://i.ibb.co/CwD6P2Z/IMG-5025-2.jpg" alt="IMG-5025-2" border="0">
                    </div>
                </div>
                <div class="col-12">
                    <div class="description-portada text-center mt-5">
                        <h2>"Profesional titulada del Instituto Superior Duoc UC, Viña del Mar, con interés en la interpretación de los diseños hacia el patronaje y el escalado de tallas, de forma análoga y digital. Capacitada para optimizar los procesos de producción de una empresa."</h2>
                    </div>
                </div>
            </div>
        </section>

        <section class="container-1">
        <div class="row">
            <div class="col-12">
                <div class="parrafo" data-aos="fade-right" data-aos-delay="50" data-aos-duration="900" data-aos-once="false">
                    <p>"La moda debería ser una forma de escapismo, no una privación de la libertad."
                        Siempre he creído que la moda es una forma de comunicación no verbal, que nos permite expresarnos libremente y gritar al mundo quienes somos a través de lo que llevamos.</p>
                    <p>Mi nombre es Daniela Fuentes Méndez, nacida en la zona central de Chile, en el año 1996. Siempre he vivido en Belloto, un sector rodeado de cerros, de un ambiente cálido y tranquilo. Toda la vida he tenido interés por la moda y el diseño, influenciada por mi abuela materna, la cual fue una excelente modista, y por una familia de escritores y músicos. Me interesa la fotografía, la naturaleza y lo digital.
                    </p>
                    <p>Diseño en un entorno tranquilo y cotidiano, en conexión con la naturaleza y con el día a día de las personas, las cuales disfrutan de la vida, les gusta pasear, tomarse un café, ir al cine y más.</p>
                </div>
            </div>
            <div class="col-12 mb-5">
                <div
                data-aos="fade-left"
                data-aos-delay="50"
                data-aos-duration="900"
                data-aos-once="false"
                ><img class="imagen-1"  src="https://i.ibb.co/vBW5xpR/IMG-5050-2.jpg" alt="IMG-5050-2" border="0"></div>
            </div>
        </div>
        </section>

        <section class="container-2 mt-5">
            <div class="row ">
                <div class="col-12">
                    <div 
                    data-aos="fade-right"
                    data-aos-delay="50"
                    data-aos-duration="900"
                    data-aos-once="false">
                    <img class="imagen-2" src="https://i.ibb.co/WF4wv1z/IMG-5030.jpg" alt="IMG-5030" border="0"></div>
                </div>

                <div class="col">
                    <div class=parrafo data-aos="fade-left" data-aos-delay="50" data-aos-duration="900" data-aos-once="false">
                        <p>Me considero una persona práctica, innovadora y comprometida. Por lo anterior, doy todo de mí y más en la realización de proyectos, en especial si estoy con un equipo de trabajo de por medio, así aportar distintas visiones y potenciar nuestras habilidades.
                        </p>
                        <p>
                            Como diseñadora busco entregar un producto que tenga sentido, ayudar a las personas a sentirse cómodas en su propia piel, entregar un vestuario que se adapte a cada tipo de cuerpo y que sientan que pueden ser ellas mismas. 
        Busco trabajar en un lugar donde pueda desempeñar las competencias laborales aprendidas a través del tiempo, desarrollar la interpretación de los diseños y perfeccionarme en el patronaje de vestuario, el cual es mi mayor pasión.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    
</body>

