<button [routerLink]="['/portfolio']" fragment="opciones" class="fixed-bottom btn btn-light" type="button" style="margin-left: 93%;">Ir a índice</button>

<body>
    <section class="title">
        <div class="lateral">
            <p>TÉCNICO EN PRODUCCIÓN INDUSTRIAL DE VESTUARIO</p>
            <P>INSTITUTO PROFESIONAL DUOC UC, VIÑA DEL MAR</P>
        </div>

        <div class="title-portfolio">
            <h3>DANIELA FUENTES</h3>
            <h1>FASHION</h1>
            <div class="border"></div>
            <h1>PORTFOLIO</h1>
        </div>

    </section>
    <section>
        <img src="https://i.ibb.co/kKHX8KV/telas.jpg" style="width: 100%; height: 100%;" alt="telas" border="0">
    </section>
    <section class="contenidos">
        <div class="balls" id="opciones">
            <svg xmlns="http://www.w3.org/2000/svg" width="280" height="63.294" viewBox="0 0 346.821 63.294">
                <g id="Grupo_7" data-name="Grupo 7" transform="translate(346.821 63.294) rotate(180)" opacity="0.71">
                  <g id="Grupo_5" data-name="Grupo 5" transform="translate(0)">
                    <path id="Trazado_19" data-name="Trazado 19" d="M31.647,0A31.647,31.647,0,1,1,0,31.647,31.647,31.647,0,0,1,31.647,0Z" fill="#9e724e"/>
                    <path id="Trazado_20" data-name="Trazado 20" d="M31.647,0A31.647,31.647,0,1,1,0,31.647,31.647,31.647,0,0,1,31.647,0Z" transform="translate(70.694)" fill="#b69b7e"/>
                    <path id="Trazado_21" data-name="Trazado 21" d="M31.647,0A31.647,31.647,0,1,1,0,31.647,31.647,31.647,0,0,1,31.647,0Z" transform="translate(142.14)" fill="#c88770"/>
                    <path id="Trazado_22" data-name="Trazado 22" d="M31.647,0A31.647,31.647,0,1,1,0,31.647,31.647,31.647,0,0,1,31.647,0Z" transform="translate(212.834)" fill="#c3beba"/>
                    <path id="Trazado_23" data-name="Trazado 23" d="M31.647,0A31.647,31.647,0,1,1,0,31.647,31.647,31.647,0,0,1,31.647,0Z" transform="translate(283.527)" fill="#f0e9dd"/>
                  </g>
                </g>
              </svg>
        </div>

        <h2>CONTENIDOS</h2>

        <div class="options">
            <a [routerLink]="['/portfolio']" fragment="introduccion" style="font-weight: lighter;">INTRODUCCIÓN</a>
            <a [routerLink]="['/portfolio']" fragment="portada-1" style="font-weight: lighter;">COLOR Y MATERIAL APLICADO</a>
            <a [routerLink]="['/portfolio']" fragment="portada-2" style="font-weight: lighter;">SILUETAS Y ESTRUCTURAS</a>
            <a [routerLink]="['/portfolio']" fragment="portada-3" style="font-weight: normal;">FICHAS TÉCNICAS</a>
            <a [routerLink]="['/portfolio']" fragment="portada-4" href="#" style="font-weight: normal;">PATRONAJE Y CONFECCIÓN DE VESTUARIO FEMENINO AVANZADO</a>
            <a [routerLink]="['/portfolio']" fragment="portada-5" href="#" style="font-weight: normal;" >ESCALADO INDUSTRIAL AVANZADO</a>
            <a [routerLink]="['/portfolio']" fragment="portada-6" href="#" style="font-weight: normal;">DESARROLLO DE LÍNEAS DE PRODUCTOS</a>
            <a [routerLink]="['/portfolio']" fragment="portada-7" href="#" style="font-weight: lighter;">MORFOLOGÍA Y ANTROPOMETRÍA APLICADA</a>
            <a [routerLink]="['/portfolio']" fragment="portada-8" href="#" style="font-weight: lighter;">PATRONAJE COMPUTACIONAL</a>
            <a [routerLink]="['/portfolio']" fragment="portada-9" href="#" style="font-weight: lighter;">PROCESOS INDUSTRIALES PARA LA CONFECCIÓN</a>
            <a [routerLink]="['/portfolio']" fragment="portada-10" style="font-weight: lighter;">PRÁCTICA PROFESIONAL</a>
            <a [routerLink]="['/portfolio']" fragment="portada-11" style="font-weight: lighter;">EMPRENDIMIENTO</a>
            <a [routerLink]="['/portfolio']" fragment="portada-12" style="font-weight: lighter;">PROYECTO COLABORATIVO</a>
            <a [routerLink]="['/portfolio']" fragment="portada-13" style="font-weight: lighter;">CONCLUSIONES</a>
            <a [routerLink]="['/portfolio']" fragment="portada-14" style="font-weight: lighter;">AGRADECIMIENTOS</a>
        </div>
        
    </section>
    <section class="intro" id="introduccion">
        <h2>INTRODUCCIÓN</h2>
        <div class="contenido-intro">
            <div class="box"></div>
            <div class="presentacion">
                <p>En el presente portafolio se evidencian los distintos proyectos realizados durante la carrera Técnico en Producción Industrial de Vestuario, cursada en el Instituto Profesional Duoc UC, Viña del Mar, durante el período comprendido entre el año 2018 a 2021.
                    Dichos proyectos abarcan asignaturas claves, complementarias, proyectos personales y práctica profesional.
                </p>
            </div>
        </div>
    </section>

    <section id="portada-1">
        <div class="img-portada">
            <img loading="lazy" style="width: 85%;" src="https://i.ibb.co/QnvrmgD/No-Path-copia-8-2x.png" alt="No-Path-copia-8-2x" border="0">
        </div>
        <div class="contenido-portada">
            <div id="docente"><p style="margin-bottom: -2px; width: 100%;">Docente: Viviana Dinamarca</p>
                <p style="margin-bottom: -2px">Año 2018</p> 
                <p>Primer  Semestre</p>
            </div>

            <p class="ficha" style="margin-left: -5%; width: 80%;">  
                Se incorporan diferentes conceptos a la construcción de una vestimenta. Se entiende que el color genera diferentes perspectivas en el cuerpo humano, puede expandir, alargar o concentrar mediante un recorrido del color en el vestuario. También hay elementos constructivos que generan geometrías en el cuerpo humano.         
            </p>

            <div class="ramo">
            <h6 id="subtitle-9" style="margin-left: 70%; margin-bottom: 8px;">CMA1011</h6>
            <h2 id="texto-9" style="line-height: 100px; margin-top: 3%;">Color y Material
                Aplicado</h2>
            </div>
        </div>
        
    </section>

    <section style="background-color: rgba(195, 190, 186, 0.48); text-align: center;">
        <img loading="lazy" style="width: 80%; margin: 4%;" src="https://i.ibb.co/PM4fMXG/Grupo-1-2x.png" alt="Grupo-1-2x" border="0">
    </section>

    <section style="text-align: center;">
        <img loading="lazy" style="width: 90%; margin: -1%;" src="https://i.ibb.co/Cs40QpF/Grupo-2-2x.png" alt="Grupo-2-2x" border="0">
    </section>

    <section style="background-color: rgba(195, 190, 186, 0.48); text-align: center;">
        <img loading="lazy" style="width: 80%; margin: 4%;" src="https://i.ibb.co/cYd8vRh/Grupo-3-2x.png" alt="Grupo-3-2x" border="0">
    </section>


    <section id="portada-2">
        <div class="img-portada">
            <img loading="lazy" style="width: 92%;" src="https://i.ibb.co/Sv5kDp8/1.png" alt="1" border="0">
        </div>
        <div class="contenido-portada">
            <div id="docente"><p style="margin-bottom: -2px; width: 100%;">Docente: Rodolfo Vera</p>
                <p style="margin-bottom: -2px">Año 2020</p> 
                <p>Temporada Académica de Verano</p>
            </div>

            <p class="ficha" style="margin-left: 2%; width: 80%;">  
                Se hace un estudio de las diferentes siluetas generadas en el cuerpo humano mediante la vestimenta, se analiza a través del tiempo. Entendiéndose que una silueta puede ser modificada a través de diferentes elementos constructivos y piezas externas al vestuario.
Se diseña y confecciona un vestuario enfocado en generar una silueta en el cuerpo, mediante el estudio y la experimentación de diferentes técnicas.         
            </p>

            <div class="ramo">
            <h6 id="subtitle-9" style="margin-left: 60%; margin-bottom: 8px;">SES2011</h6>
            <h2 id="texto-9" style="margin-left: 20% ; line-height: 100px; margin-top: -1%; width: 80%;">Siluetas y
                Estructuras</h2>
            </div>
        </div>
        
    </section>

    <section style="background-color: rgba(240, 233, 221, 0.82); text-align: center;">
        <img loading="lazy" style="width: 90%; margin: 2%;" src="https://i.ibb.co/rskDt12/Grupo-2-2x.png" alt="Grupo-2-2x" border="0">
    </section>

    <section style="text-align: center;">
        <img loading="lazy" style="width: 86%;" src="https://i.ibb.co/tHbykHt/Grupo-3-2x.png" alt="Grupo-3-2x" border="0">
    </section>

    <section style="background-color: rgba(240, 233, 221, 0.82); text-align: center;">
        <img loading="lazy" style="width: 90%; margin: 2%;" src="https://i.ibb.co/D8ZfnwF/Grupo-1-2x.png" alt="Grupo-1-2x" border="0">
    </section>

    <section id="portada-3">
        <div class="img-portada">
            <img loading="lazy" style="width: 85%;"  src="https://i.ibb.co/bXg8Np1/fichas-tecnicas.png" alt="fichas-tecnicas" border="0">
        </div>
        <div class="contenido-portada">
            <div id="docente"><p style="margin-bottom: -2px;">Docente: María Alejandra Rivas Año 2020</p> 
                <p>Primer Semestre</p>
            </div>

            <p class="ficha">La ficha técnica como lenguaje universal permite documentar características técnicas de un producto, para asegurar su efectiva y eficaz elaboración.
                Su importancia radica a la hora de externalizar la confección, ya que la ficha entrega todo el detalle técnico a la empresa que lo llevará a cabo.
                Mediante las siguientes fichas se evidencia el manejo de herramientas para el desarrollo de dibujo técnico de vestuario, el manejo del mix de documentación técnica del producto que incide directamente en la producción y los proveedores asociados a la producción de vestuario.
            </p>

            <div class="ramo">
            <h6>FTE3011</h6>
            <h2>Fichas Técnicas</h2>
            </div>
        </div>
        
    </section>

    

    <section style="text-align: center;">
        <img loading="lazy" style="width: 65%; margin: 3%;" src="https://i.ibb.co/mTR7GB3/Grupo-10-2x.png" alt="Grupo-10-2x" border="0">
    </section>

    <section style="background-color: #F0E9DD; text-align: center;">
        <img loading="lazy" style="width: 90%; margin: 50px 0px 0px 0px;"  src="https://i.ibb.co/JdrJj0H/1.png" alt="1" border="0">
    </section>

    <section style="text-align: center;">
        <img loading="lazy" style="width: 90%; margin: 50px 0px 0px 0px;" src="https://i.ibb.co/dgCNvzP/2.png" alt="2" border="0">
    </section>

    <section style="text-align: center; background-color: #F0E9DD">
        <img loading="lazy" style="width: 90%; margin: 50px 0px 0px 0px;" src="https://i.ibb.co/mTh0Mf6/3.png" alt="3" border="0">
    </section>

    <section style="text-align: center;">
        <img loading="lazy" style="width: 90%; margin: 50px 0px 0px 0px;" src="https://i.ibb.co/9rn2LMs/4.png" alt="4" border="0">
    </section>

    <section style="text-align: center; background-color: #F0E9DD">
        <img loading="lazy" style="width: 90%; margin: 50px 0px 0px 0px;" src="https://i.ibb.co/B371Vvq/5.png" alt="5" border="0">
    </section>

    <section style="text-align: center;">
        <img loading="lazy" style="width: 90%; margin: 50px 0px 0px 0px;" src="https://i.ibb.co/qj8VSWR/6.png" alt="6" border="0">
    </section>

    <section style="text-align: center; background-color: #F0E9DD">
        <img loading="lazy" style="width: 90%; margin: 50px 0px 0px 0px;" src="https://i.ibb.co/KsWKbcQ/7.png" alt="7" border="0">
    </section>

    <section style="text-align: center;">
        <img loading="lazy" style="width: 90%; margin: 50px 0px 0px 0px;" src="https://i.ibb.co/7gtBkMZ/8.png" alt="8" border="0">
    </section>

    <section id="portada-4">
        <div class="img-portada">
            <img loading="lazy" style="width: 84.5%;"  src="https://i.ibb.co/X7RK3BP/patronaje-1.png" alt="patronaje-1" border="0"></div>
        <div class="contenido-portada">
            <div id="docente"><p style="margin-bottom: -2px;">Docente: Alejandra Vallejo Año 2018</p> 
                <p>Segundo Semestre</p>
            </div>
            <p class="ficha" style="margin-top: 60px; margin-left: -2%; width: 90%;">
                Se obtuvieron conocimientos sobre corsetería y  alta costura, mediante el desarrollo de patrones para la interpretación de prendas de vestuario.
Mediante los siguientes proyectos, que comprenden un corsé, bustier y un vestido corte sirena, se evidencia la implementación de formatos de corsetería y alta costura en el desarrollo de patrones y el trazado de las correcciones.
            </p>

            <div class="ramo">
            <h6 id="subtitle-9" style="margin-left: 76%; margin-bottom: 1%;">PCV2011</h6>
            <h2 id="texto-9" style="width: 600px; font-size: 65px; left: 30px;">Patronaje y Confección
                de Vestuario Femenino
                 Avanzado</h2>
            </div>
        </div>
        
    </section>

    <section style="text-align: center; background: rgba(240, 233, 221, 0.82);">
        <img loading="lazy" style="width: 80%; margin: 50px 0px 0px 0px;" src="https://i.ibb.co/NSX2Y2Z/1.png" alt="1" border="0">
    </section>

    <section style="text-align: center;">
        <img loading="lazy" style="width: 95%; margin: 50px 0px 0px 0px;" src="https://i.ibb.co/hBmRnd2/2.png" alt="2" border="0">
    </section>

    <section style="text-align: center; background: rgba(240, 233, 221, 0.82);">
        <img loading="lazy" style="width: 80%; margin: 50px 0px 0px 0px;" src="https://i.ibb.co/yq8wgZm/3.png" alt="3" border="0">
    </section>

    <section style="text-align: center;">
        <img loading="lazy" style="width: 68%; margin: 40px 0px 0px 0px;" src="https://i.ibb.co/k27QVxD/4.png" alt="4" border="0">
    </section>

    <section style="text-align: center; background: rgba(240, 233, 221, 0.82);">
        <img loading="lazy" style="width: 78%; margin: 0px 0px 0px 0px;" src="https://i.ibb.co/gWHJrFr/5.png" alt="5" border="0">
    </section>

    <section style="text-align: center;">
        <img loading="lazy" style="width: 75%; margin: 0px 0px 0px 50px;" src="https://i.ibb.co/w6LCR05/6.png" alt="6" border="0">
    </section>

    <section style="text-align: center; background: rgba(240, 233, 221, 0.82);">
        <img loading="lazy" style="width: 78%; margin-top: 7%;"src="https://i.ibb.co/jh0sqvr/patronaje-2.png" alt="patronaje-2" border="0">
    </section>

    <section id="portada-5">
        <div class="img-portada">
            <img loading="lazy" style="width: 85%;" src="https://i.ibb.co/ckz32YJ/1.png" alt="1" border="0">
        </div>
        <div class="contenido-portada">
            <div id="docente" style="margin-left: -3%;">
                <p style="margin-bottom: -2px; width: 100%;">Docente: Rodolfo Vera</p>
                <p style="margin-bottom: -2px">Año 2019</p> 
                <p>Segundo Semestre</p>
            </div>

            <p class="ficha" style="margin-left: -5%; width: 80%;">  
                La importancia de escalar radica a la hora de producir industrialmente, ya que este proceso acelera la producción a grandes escalas.
Se evidencia el mapa de transformación, la ficha de diseño y el mapa de escalado de un blazer femenino, todo esto para desarrollar un tallaje a partir de un sistema de escalado industrial para la producción en serie.         
            </p>

            <div class="ramo">
            <h6 id="subtitle-9" style="margin-left: 75%; margin-bottom: 8px;">EIN4011</h6>
            <h2 id="texto-9" style="line-height: 100px; margin-top: 2%;">
                Escalado Industrial
                Avanzado</h2>
            </div>
        </div>
        
    </section>

    <section style="text-align: center;">
        <img loading="lazy" style="width: 80%;" src="https://i.ibb.co/gZ21grB/2.png" alt="2" border="0">
    </section>

    <section style="text-align: center; background: rgba(182, 155, 126, 0.60);">
        <img loading="lazy" style="width: 88%; margin: 3%;" src="https://i.ibb.co/5hxTLNh/3.png" alt="3" border="0">
    </section>

    <section style="text-align: center;">
        <img loading="lazy" style="width: 78%;" src="https://i.ibb.co/MRZWYWW/4.png" alt="4" border="0">
    </section>

    <section style="text-align: center; background: rgba(182, 155, 126, 0.60);">
        <img loading="lazy" style="width: 80%; margin: 2%;" src="https://i.ibb.co/kKp6NNp/5.png" alt="5" border="0">
    </section>

    <section style="text-align: center;">
        <img loading="lazy" style="width: 80%; margin: 3%;" src="https://i.ibb.co/wQrN8vs/6.png" alt="6" border="0">
    </section>


    <section id="portada-6">
        <div class="img-portada">
            <img loading="lazy" style="width: 88.5%;" src="https://i.ibb.co/F7rf44H/1.png" alt="1" border="0">
        </div>
        <div class="contenido-portada">
            <div id="docente"><p style="margin-bottom: -2px; width: 100%;">Docente: Marta García</p>
                <p style="margin-bottom: -2px">Año 2019</p> 
                <p>Segundo Semestre</p>
            </div>

            <p class="ficha" style="margin-left: -5%; width: 80%;">En este ramo se busca desarrollar soluciones de diseño para productos competitivos. Lo anterior mediante una bitácora que registra guías de estilo, vestuario del consumidor, planificación de líneas de productos y una vitrina con 8 diseños.
                También se muestra una vitrina digital y se seleccionan alternativas formales de líneas de productos de vestuario o de acuerdo a una proyección de vestuario.
                Se elabora un prototipo de vestuario masculino, un look completo para un usuario específico.         
            </p>

            <div class="ramo">
            <h6 id="subtitle-9" style="margin-left: 80%;">DRP4011</h6>
            <h2 id="texto-9" style="width: 93%; line-height: 70px; margin-top: 3%; left: -1%">Desarrollo de
                Líneas de Productos</h2>
            </div>
        </div>
        
    </section>

    <section style="text-align: center; background: rgba(195, 190, 186, 0.6);">
        <img loading="lazy" style="width: 80%; margin: 50px 0px 0px 10%;" src="https://i.ibb.co/PT1sVM3/Grupo-12-2x.png" alt="2" border="0">
    </section>

    <section style="text-align: center;">
        <img loading="lazy" style="width: 75%; margin: 50px 0px 0px 0px;" src="https://i.ibb.co/mt4cmmh/Grupo-13-2x.png"  alt="2" border="0">
    </section>

    <section style="text-align: center; background: rgba(195, 190, 186, 0.6);">
        <img loading="lazy" style="width: 80%; margin: 5% 0px 0px 0px;" src="https://i.ibb.co/jVQ4KN1/Grupo-14-2x.png" alt="2" border="0">
    </section>

    <section style="text-align: center;">
        <img loading="lazy" style="width: 80%; margin: 4% 0px 0px 0px;" src="https://i.ibb.co/b3WXHWZ/Grupo-15-2x.png" alt="2" border="0">
    </section>

    <section style="text-align: center; background: rgba(195, 190, 186, 0.6);">
        <img loading="lazy" style="width: 80%; margin: 50px 0px 0px 0px;" src="https://i.ibb.co/pjYXT0k/Grupo-16-2x.png" alt="2" border="0">
    </section>

    <section style="text-align: center;">
        <img loading="lazy" style="width: 80%; margin: 2% 0px 0px 0px;" src="https://i.ibb.co/LznGpdq/Grupo-17-2x.png" alt="2" border="0">
    </section>

    <section style="text-align: center; background: rgba(195, 190, 186, 0.6);">
        <img loading="lazy" style="width: 80%; margin: 50px 0px 0px 0px;" src="https://i.ibb.co/0VLXT4t/Grupo-18-2x.png" alt="2" border="0">
    </section>

    <section style="text-align: center;">
        <img loading="lazy" style="width: 80%; margin: 2%;" src="https://i.ibb.co/9YfWQzq/2.png" alt="2" border="0">
    </section>

    <section style="text-align: center; background: rgba(195, 190, 186, 0.6);">
        <img loading="lazy" style="width: 80%; margin: 1% 0px 0px 0px;" src="https://i.ibb.co/8mfB7rn/Grupo-20-2x.png" alt="2" border="0">
    </section>

    <section style="text-align: center;">
        <img loading="lazy" style="width: 80%; margin: 2%;" src="https://i.ibb.co/vDwN1fc/3.png" alt="3" border="0">
    </section>




    <section id="portada-7">
        <div class="img-portada">
            <img loading="lazy" style="width: 84.5%" src="https://i.ibb.co/MsKxXbf/1.png" alt="1" border="0">
        </div>
        <div class="contenido-portada">
            <div id="docente"><p style="margin-bottom: -2px;">Docente: Carola Villanueva Año 2019</p> 
                <p>Primer Semestre</p>
            </div>

            <p class="ficha" style="width: 650px; margin-left: -10px; margin-top: 60px; line-height: 25px;">
                Los estudios morfológicos y antropométricos del usuario son importantes al construir un vestuario, de esta forma se adapta a necesidades particulares y no generales, como lo son las formas y movimientos del cuerpo humano, cómo este funciona y el uso del espacio del mismo. 
En este ramo se realizan dos proyectos grupales, el primero un look editorial inspirado en el Museo Interactivo Mirador, y el segundo un vestuario infantil inspirado en el MIM y además en una exposición visual de Optiko, ambos proyectos aplican los conceptos de Morfología y Antropometría, mediante una investigación y estudio previo.               
            </p>

            <div class="ramo" style="margin-top: 70px;">
            <h6 id="subtitle-9">MAA3011</h6>
            <h2 id="texto-9" style="width: 800px; font-size: 80px;">Morfología y 
                Antropometría Aplicada</h2>
            </div>
        </div>
        
    </section>

    <section style="text-align: center; background: rgba(200, 135, 112, 0.6);">
        <img loading="lazy" style="width: 80%; margin: 50px 0px 0px 0px;" src="https://i.ibb.co/yqzpmQW/2.png" alt="2" border="0">
    </section>

    <section style="text-align: center;">
        <img loading="lazy" style="width: 70%; margin: 50px 0px 0px 0px;" src="https://i.ibb.co/db91bQx/3.png" alt="3" border="0">
    </section>

    <section style="text-align: center; background: rgba(200, 135, 112, 0.6);">
        <img loading="lazy" style="width: 80%; margin: 20px 0px 0px 0px;" src="https://i.ibb.co/xsCk9cm/4.png" alt="4" border="0">
    </section>

    <section style="text-align: center;">
        <img loading="lazy" style="width: 78%; margin: 20px 0px 0px 0px;" src="https://i.ibb.co/vHjJLRp/5.png" alt="5" border="0">
    </section>

    <section style="text-align: center; background: rgba(200, 135, 112, 0.6);">
        <img loading="lazy" style="width: 85%; margin: 10px 0px 0px 0px;" src="https://i.ibb.co/7RDd3D9/6.png" alt="6" border="0">
    </section>

    <section style="text-align: center;">
        <img loading="lazy" style="width: 90%; margin: 30px 0px 0px 0px;" src="https://i.ibb.co/Ry8zKDN/8.png" alt="8" border="0">
    </section>

    <section style="text-align: center;">
        <img loading="lazy" style="width: 90%; margin: 30px 0px 0px 0px;" src="https://i.ibb.co/Wk3NJYX/7.png" alt="7" border="0">
    </section>

    <section id="portada-8">
        <div class="img-portada">
            <img loading="lazy" style="width: 85%;" src="https://i.ibb.co/Km11KhM/No-Path-copia-2-2x.png" alt="No-Path-copia-2-2x" border="0">
        </div>
        <div class="contenido-portada">
            <div id="docente"><p style="margin-bottom: -2px; width: 100%;">Docente: Lorena Fuenzalida</p>
                <p style="margin-bottom: -2px">Año 2020</p> 
                <p>Segundo Semestre</p>
            </div>

            <p class="ficha" style="margin-left: -5%; width: 80%;">El patronaje digital es llevar el patronaje de papel y lápiz a un formato computarizado, siguiendo las mismas teorías del patronaje tradicional.
                En el software se realiza el patrón plano, sus capacidades de costura, su escalado y luego su marcada digital (tendido de tela), la cual permite optimizar el material a la hora del corte.
                Los softwares utilizado en este ramo fueron los de Lectra Systémes, los cuales son Modaris y Diamino, en ellos se realizaron una serie de moldes base y sus transformaciones.           
            </p>

            <div class="ramo">
            <h6 id="subtitle-9">PCO5011</h6>
            <h2 id="texto-9" style="line-height: 70px; margin-top: 3%;">Patronaje
                Computacional</h2>
            </div>
        </div>
        
    </section>

    <section style="text-align: center; background: rgba(195, 190, 186, 0.8);" >
        <img loading="lazy" style="width: 80%; margin: 2% 0px 0px 0px;"  src="https://i.ibb.co/0VvDNLF/Grupo-3-2x.png"  alt="1" border="0">
    </section>

    <section style="text-align: center;" >
        <img loading="lazy" style="width: 75%; margin: 2% 0px 0px 0px;"  src="https://i.ibb.co/cDKsRQC/Grupo-4-2x.png"  alt="2" border="0">
    </section>

    <section style="text-align: center; background: rgba(195, 190, 186, 0.8);" >
        <img loading="lazy" style="width: 80%; margin: 50px 0px 0px 0px;"  src="https://i.ibb.co/89hLHhj/Grupo-5-2x.png"   alt="3" border="0">
    </section>

    <section style="text-align: center;" >
        <img loading="lazy" style="width: 80%; margin: 50px 0px 0px 0px;"  src="https://i.ibb.co/cxTSQPC/Grupo-6-2x.png"   alt="4" border="0">
    </section>

    <section style="text-align: center;background: rgba(195, 190, 186, 0.8);" >
        <img loading="lazy" style="width: 62%; margin: 2% 0px 0px 0px;"  src="https://i.ibb.co/99mztG5/Grupo-7-2x.png"   alt="5" border="0">
    </section>




    <section id="portada-9">
        <div class="img-portada">
            <img loading="lazy" style="width: 85%;" src="https://i.ibb.co/bzwxJCC/1.png" alt="1" border="0">
        </div>
        <div class="contenido-portada">
            <div id="docente"><p style="margin-bottom: -2px;">Docente: María Alejandra Rivas Año 2020</p> 
                <p>Primer Semestre</p>
            </div>

            <p class="ficha">Los procesos industriales permiten llevar a cabo una producción de vestuario de forma eficaz y eficiente. Reduciendo los costos y potencializando las ganancias.

                Mediante las siguientes evidencias se muestra el proceso de producción de una marca ficticia, CALISPRO, la cual consiste en una línea deportiva masculina enfocada en un usuario que asiste al gimnasio y practica calistenia.                
            </p>

            <div class="ramo">
            <h6 id="subtitle-9">PIC5012</h6>
            <h2 id="texto-9">Procesos Industriales
                para la Confección</h2>
            </div>
        </div>
        
    </section>

    <section style="text-align: center;" >
        <img loading="lazy" style="width: 70%; margin: 50px 0px 0px 0px;" src="https://i.ibb.co/gVxKP5C/2.png" alt="2" border="0">
    </section>

    <section style="text-align: center; background: rgba(195, 190, 186, 0.56);" >
        <img loading="lazy" style="width: 70%; margin: 50px 0px 0px 0px;" src="https://i.ibb.co/xXf9krq/3.png" alt="3" border="0">
    </section>

    <section style="text-align: center;" >
        <img loading="lazy" style="width: 76%; margin: 50px 0px 0px 0px;" src="https://i.ibb.co/6DK1wNw/4.png" alt="4" border="0">
    </section>

    <section style="text-align: center; background: rgba(195, 190, 186, 0.56);" >
        <img loading="lazy" style="width: 79%; margin: 50px 0px 0px 0px;" src="https://i.ibb.co/tJFmTwy/5.png" alt="5" border="0">
    </section>

    <section style="text-align: center;" >
        <img loading="lazy" style="width: 74%; margin: 50px 0px 0px 0px;" src="https://i.ibb.co/KGyfsgC/8.png" alt="8" border="0">
    </section>

    <section style="text-align: center; background: rgba(195, 190, 186, 0.56);" >
        <img loading="lazy" style="width: 73.5%; margin: 50px 0px 0px 0px;" src="https://i.ibb.co/9gQNCm2/9.png" alt="9" border="0">
    </section>

    <section style="text-align: center;" >
        <img loading="lazy" style="width: 72%; margin: 50px 0px 0px 0px;" src="https://i.ibb.co/xHzyWyV/10.png" alt="10" border="0">
    </section>

    <section style="text-align: center; background: rgba(195, 190, 186, 0.56);" >
        <img loading="lazy" style="width: 76%; margin: 50px 0px 0px 0px;" src="https://i.ibb.co/6W4WDtY/11.png" alt="11" border="0">
    </section>

    <section style="text-align: center;" >
        <img loading="lazy" style="width: 80%; margin: 50px 0px 0px 0px;" src="https://i.ibb.co/dKrrQxk/12.png" alt="12" border="0">
    </section>

    <section style="text-align: center; background: rgba(195, 190, 186, 0.56);" >
        <img loading="lazy" style="width: 90%; margin: 120px 0px 0px 0px;" src="https://i.ibb.co/Bf2DM2W/13.png" alt="13" border="0">
    </section>

    <section class="video-9">
        <iframe width="800" height="600" src="https://www.youtube.com/embed/z7Jsnv2LOdo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </section>

    <!-- final -->
    <section id="portada-10">
        <div class="img-portada">
            <img loading="lazy" style="width: 85%;" src="https://i.ibb.co/LQGZ1Lz/1.png" alt="1" border="0">
        </div>
        <div class="contenido-portada">
            <div id="docente"><p style="margin-bottom: -2px; width: 100%;">Docente: Lorena Fuenzalida</p>
                <p style="margin-bottom: -2px">Año 2021</p> 
                <p>Primer Semestre</p>
            </div>

            <p class="ficha" style="margin-left: -5%; width: 75%; margin-top: 15%; font-size: 30px;">  
                Se aplican todos los conocimientos relacionados a la gestión y apoyo en el área digital de la marca, en el desarrollo de ideas, interpretación de los diseños hacia el patronaje, trabajar la edición de fotografías, tendido y corte de tela.        
            </p>

            <div class="ramo">
            <h2 id="texto-9" style="line-height: 100px; margin-top: 10%; width: 60%; margin-left: auto; margin-right: auto;">Práctica 
                Profesional</h2>
            </div>
        </div>
        
    </section>

    <section style="text-align: center;" >
        <img loading="lazy" style="width: 70%; margin-top: 5%;" src="https://i.ibb.co/Y3tQJN1/2.png" alt="2" border="0">
    </section>

    <section style="text-align: center; background: rgba(195, 190, 186, 0.58);" >
        <img loading="lazy" style="width: 75%; margin-top: 2%;" src="https://i.ibb.co/BjSvL2r/Grupo-6-2x.png" alt="Grupo-6-2x" border="0">
    </section>

    <section style="text-align: center;" >
        <img loading="lazy" style="width: 76%; margin-top: 2%;" src="https://i.ibb.co/7WZHBsF/4.png" alt="4" border="0">
    </section>


    <!-- hamphy -->
    <section id="portada-11">
        <div class="img-portada">
            <img loading="lazy" style="width: 85%;" src="https://i.ibb.co/VLYtpWQ/5.png" alt="5" border="0">
        </div>
        <div class="contenido-portada">
            <p class="ficha" style="margin-left: -5%; width: 75%; margin-top: 20%;">  
                Se aplican todos los conocimientos aprendidos en la carrera de diseño de vestuario para la creación de una marca personal "Hamphy".
                Marca de moda lenta que busca abrirse camino en el mercado internacional.
                Marca para un usuario joven de entre 17 a 37 años. Sus principios son entregar ropa de buena calidad, de buen calce, considerando que cada cuerpo es único. Entregar un diseño cómodo, funcional y de buen gusto.
                       
            </p>

            <div class="ramo">
            <h2 id="texto-9" style="line-height: 100px; margin-top: 15%; width: 60%; margin-left: auto; margin-right: auto; font-size: 120px;"> 
                Hamphy</h2>
            </div>
        </div>
        
    </section>

    <section style="text-align: center;" >
        <img loading="lazy" style="width: 80%;" src="https://i.ibb.co/5k9GLrZ/6.png" alt="6" border="0">
    </section>


    <!-- proyecto -->
    <section id="portada-12">
        <div class="img-portada">
            <img loading="lazy" style="width: 85%;" src="https://i.ibb.co/Y2t12MM/7.png" alt="7" border="0">
        </div>
        <div class="contenido-portada">

            <p class="ficha" style="margin-left: -5%; width: 75%; margin-top: 20%;">  
                Este proyecto fue realizado en conjunto a una estudiante de Diseño de la universidad de Valparaíso, Paula Gonzalez. El proyecto  consistía en la creación de una línea de trajes de baños inclusivas, es decir pensadas en todo tipo de cuerpos.
Mi aporte fue el patronaje del prototipo y los dibujos técnicos de las propuestas de su línea de trajes de baños.        
            </p>

            <div class="ramo">
            <h2 id="texto-9" style="line-height: 100px; margin-top: 10%; width: 60%; margin-left: auto; margin-right: auto;font-size: 105px;"> 
                Proyecto colaborativo</h2>
            </div>
        </div>
        
    </section>

    <section style="text-align: center;" >
        <img loading="lazy" style="width: 80%; margin-top: 2%;" src="https://i.ibb.co/mrpYfwF/8.png" alt="8" border="0">
    </section>

    <section style="text-align: center;" >
        <img loading="lazy" style="width: 80%;" src="https://i.ibb.co/N6bQ0g7/9.png" alt="9" border="0">
    </section>

    <section>
        <img loading="lazy" src="https://i.ibb.co/kKHX8KV/telas.jpg" style="width: 100%; height: 100%;" alt="telas" border="0">
    </section>

    <section class="intro bg-white" id="portada-13">
        <h2>CONCLUSIONES</h2>
        <div class="contenido-intro">
            <img loading="lazy" style="width: 45%; margin-top: 3%;" src="https://i.ibb.co/h7Hz8mz/11.png" alt="11" border="0">
        </div>
    </section>

    
    <section class="intro" id="portada-14">
        <h2>AGRADECIMIENTOS</h2>
        <div class="contenido-intro">
            <img loading="lazy" style="width: 45%; margin-top: 3%;" src="https://i.ibb.co/N6DZddC/Grupo-7-2x.png" alt="Grupo-7-2x" border="0">
        </div>
    </section>

    <section>
       
    </section>

    <div class="position-relative">
        <div class="position-absolute bottom-0 start-0">
        <p style="margin-bottom: -1%; margin-left: 10%;">Portafolio de Título</p>
        <p style="margin-bottom: -1%; margin-left: 10%;">2021</p>
        <p style="margin-bottom: -1%; margin-left: 10%;">Daniela Fuentes Méndez</p>
        <p style="margin-bottom: -1%; margin-left: 10%; width: 100%;">Técnico en Producción Industrial de Vestuario</p>
        <p style="margin-bottom: 10%; margin-left: 10%;">Duoc UC Viña del Mar</p>
        </div>
    </div>
    

</body>
