.wrapper{
    text-align: center;
    z-index: 1;
}

button{
    border: none;
    background: none;
}

.title{
    font-family: 'Cormorant', serif;
    font-size: 100px;
    font-weight: lighter;
    opacity: 90%;
    margin-bottom: -10px;
    padding-top: 20px;
    
}

.description{
    font-family: 'Candara';
    font-size: 23px; 
}

.description button {
    letter-spacing: 9px;
}

.title button:hover, .description button:hover{
    color:gray;
}