<body>
    <header>
        <app-title-pages></app-title-pages>  
    </header>

    <main>
        <section class="portada">
            <div class="cuadrado-portada"></div>
            <div class="lateral">
                <p>Identidad Profesional</p>
                <div class="imagen"></div>
                <div class="description-portada">
                    <h2>Hace un tiempo aprendí que en la vida se pueden tomar dos actitudes, 
                      la de ser observador o la de ser el que toma acción. Decidí ser responsable de mi vida e ir en
                      búsqueda de mis deseos.</h2>
                </div>
            </div>
        </section>

        <section class="container-1">
        <div class="parrafo" data-aos="fade-right" data-aos-delay="50" data-aos-duration="900" data-aos-once="false">
            <p>Soy Daniela Alexandra Fuentes Méndez, tengo 24 años, siempre he vivido en Belloto, un pequeño sector rodeado de cerros, de intenso calor en verano e intenso frío en invierno, donde encuentras una vida tranquila y acogedora.</p>
            <p>Desde la infancia estuvo muy presente el interés por los colores, las formas y la indumentaria, el poder conjugar piezas y formar un todo, creando looks con mi propia ropa y a través del dibujo. El interés por los negocios ha estado en mí desde siempre, es algo innato en mí.
            </p>
        </div>
        <div class="imagen-1" 
        data-aos="fade-left"
        data-aos-delay="50"
        data-aos-duration="900"
        data-aos-once="false"
        ></div>

        </section>

        <section class="container-2">
            <div class="imagen-2"
            data-aos="fade-right"
            data-aos-delay="50"
            data-aos-duration="900"
            data-aos-once="false"></div>
            <div class=parrafo data-aos="fade-left" data-aos-delay="50" data-aos-duration="900" data-aos-once="false">
                <p>Diseño en un entorno tranquilo, donde encuentro inspiración a través referentes que produzcan algo en mí, estoy atenta a lo que siento cada vez que observo algo, muchas veces esa inspiración viene de fotografías, de colores, texturas, de música o de películas. Con mis referentes, hago un proceso de selección, juego un poco, combino, armo y desarmo, hasta llegar a una composición, y que al verla sepa que es simplemente increíble, así es como funciona mi proceso creativo.
                </p>
            </div>
        </section>

        <section class="container-3">
            <div class="parrafo-3" data-aos="fade-right" data-aos-delay="50" data-aos-duration="900" data-aos-once="false">
                <p>Como diseñadora quiero proyectar profesionalismo y calidad, lograr satisfacer las necesidades de mis usuarios, y entregarles un buen producto. Busco que los usuarios tengan una experiencia única y completa mediante mis diseños, en la cual queden satisfechos con los productos que usen, que cumplan sus expectativas y mucho más, y gracias a ello se sientan cómodos y seguros consigo mismo proyectándolo en su actitud día a día. 
                </p>
            </div>
            <div class="imagen-3"
            data-aos="fade-left"
            data-aos-delay="50"
            data-aos-duration="900"
            data-aos-once="false"></div>
    
            </section>
    </main>
    
</body>

