body{
    height: 100vh;
}

.home{
    padding-top: 20%;
}

//balls

.balls{
    height: 100px;
    width: 90%;
    display: flex;
    position: relative;
    left: 8%;
    top:50px;
}

.balls i{
    margin: 20px 3px 0px 3px;
    float: left;
	width: 40px;
	height: 40px;
	border-radius: 100%;
}

#color-1{
    background: rgba(158, 114, 78, 0.97);
}

#color-2{
    background:rgba(182, 155, 126, 0.97);
}

#color-3{
    background: rgba(200, 135, 112, 0.97);
}

#color-4{
    background: rgba(195, 190, 186, 0.97);
}

#color-5{
    background: rgba(240, 233, 221, 0.97);
}

//title

.wrapper{
    text-align: center;
}

.title{
    font-family: 'Cormorant', serif;
    font-size: 8.3vh;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.9);
    margin-bottom: -10px;
    padding-top: 20px;
    
}

.description{
    font-family: 'Candara';
    margin-top: 1.5vh;
    font-size: 2.4vh; 
    letter-spacing: 9px;
}

//buttons
button{
    border: none;
    background: none;
}

.options{
    display: flex;
    justify-content: center;
    font-size:2.1vh;
    margin-top: 40px;
    font-family:'Segoe UI';
}

p{
    margin: 3.4vh;
}

.options button:hover{
    color:gray;
}