//VH---------------------------------------------
section{
    height: 50vh;
}

.intro{
    background: rgba(240, 233, 221, 0.82)
}

//TITLE
.lateral{
    margin: 5%;
}

.lateral p{
    margin-bottom: 0px;
    font-size: 1.2vh;
}


.title-portfolio{
    text-align: center;
    transform: translateY(45%);
}

.title-portfolio h3{
    font-size: 1.8vh;
    letter-spacing: 10px;
    font-weight: normal;
    margin-bottom: 0px;
    font-family: 'Segoe UI';
    color: rgba(0,0,0,1);
}

.title-portfolio h1{
    font-size: 4.5vh;
    letter-spacing: 10px;
    font-weight: lighter;
    font-family: 'Cormorant', serif;
    color: rgba(158, 114, 78, 0.87);
}

.border{
    background: black;
    height: 2px;
    width: 65%;
    margin-left: 17%;
}


//contenidos
.contenidos{
    text-align: center;
    height: auto;
}


.balls{
    margin-top: 10px;
}

.contenidos h2{
    margin-top: 10px;
    letter-spacing: 10px;
    font-weight: lighter;
    font-size: 4vh;
    margin-bottom: 2px;
    font-family: 'Segoe UI',sans-serif;
}


.options a{
    text-decoration: none;
    color: black;
    display: block;
    width: auto;
    margin: 5% 0px;
    font-size: 1.8vh;
    text-align: center;
    font-family: 'Segoe UI',sans-serif;
}

.intro{
    text-align: center;
    height: auto;
}


.intro h2{
    padding-top: 6vh;
    font-family: 'Segoe UI',sans-serif;
    font-weight: lighter;
    font-size: 3vh;
    letter-spacing: 1vh;
}

.box{
    margin-top: 5%;
    background: white;
    height: 380px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.presentacion{
    font-family: 'Segoe UI',sans-serif;
    font-weight: lighter;
    font-size: 1.8vh;
    border: 1px solid #9E724E;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top:-350px;
    left: 30px;
}

.presentacion p{
    width: 90%;
    margin: auto;
    padding: 10px 25px;
}

//contenido portada
#portada-1-m, #portada-2-m, #portada-3-m, #portada-4-m, #portada-5-m, #portada-6-m, #portada-7-m, #portada-8-m,  #portada-9-m, #portada-10-m, #portada-11-m, #portada-12-m{
    height: auto;
}

.img-portada{
    width: 50%;
    height: 100vh;
    display: inline-block;
}

.contenido-portada{
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

#docente{
    font-family: 'Segoe UI',sans-serif;
    font-size: 2.6vh;
    font-weight: lighter;
    width: auto;
    text-align: center;
}

.ficha{
    font-family: 'Segoe UI',sans-serif;
    font-size: 2vh;
    font-weight: lighter;
    width: 65%;
    margin-left: 8%;
}

.ramo h6{
    font-family: 'Segoe UI',sans-serif;
    font-size: 2vh;
    font-weight: lighter;
    color: #9E724E;
    margin-left: 580px;
    margin-bottom: -40px;
}

#texto-9{
    width: auto;
    font-family: 'Cormorant', serif;
    font-size: 5vh;
    font-weight: lighter;
    text-align: center;

}

//divided

#titulo-chaqueta{
    font-family: 'Segoe UI',sans-serif;
    font-weight: lighter;
    font-size: 22px;
    position: relative;
    top: -40px
}
.wrapper-chaquetas{
    display: flex;
    justify-content: center;
}
.chaquetas{
    margin: 90px 5px 0px 5px;
    background: gray;
    height: 450px;
    width: 350px;
}

.texto-divided{
    font-family: 'Segoe UI',sans-serif;
    font-weight: lighter;
    font-size: 22px;
    width: 430px;
    margin-left: 22%;
    text-align: center;
    line-height: 25px;
    margin-top: 10px;
    display: inline-block;
}

.rotulo{
    width: 30%;
    display: inline-block;
    position: relative;
    top:-85px;
    left: 40px;
}

//contenido 9
#subtitle-9{
    margin-left: 600px;
    margin-bottom: -30px;
}



.video-9{
    text-align: center;
}

.video-9 iframe{
    margin-top: 70px;
}

.boton{
    text-align: end;
}