<div class="boton fixed-bottom">
    <button [routerLink]="['/portfolio']" fragment="opciones-m" class="btn btn-light" type="button">Ir a índice</button>
</div>

<body>
    <section class="title">
        <div class="lateral">
            <p>TÉCNICO EN PRODUCCIÓN INDUSTRIAL DE VESTUARIO</p>
            <P>INSTITUTO PROFESIONAL DUOC UC, VIÑA DEL MAR</P>
        </div>
        <div class="title-portfolio">
            <h3>DANIELA FUENTES</h3>
            <h1>FASHION</h1>
            <div class="border"></div>
            <h1>PORTFOLIO</h1>
        </div>
    </section>
    <section>
        <img src="https://i.ibb.co/kKHX8KV/telas.jpg" style="width: 100%; height: 50vh;" alt="telas" border="0">
    </section>

    <section class="contenidos">
        <div class="balls" id="opciones-m">
            <svg xmlns="http://www.w3.org/2000/svg" width="280" height="63.294" viewBox="0 0 346.821 63.294">
                <g id="Grupo_7" data-name="Grupo 7" transform="translate(346.821 63.294) rotate(180)" opacity="0.71">
                  <g id="Grupo_5" data-name="Grupo 5" transform="translate(0)">
                    <path id="Trazado_19" data-name="Trazado 19" d="M31.647,0A31.647,31.647,0,1,1,0,31.647,31.647,31.647,0,0,1,31.647,0Z" fill="#9e724e"/>
                    <path id="Trazado_20" data-name="Trazado 20" d="M31.647,0A31.647,31.647,0,1,1,0,31.647,31.647,31.647,0,0,1,31.647,0Z" transform="translate(70.694)" fill="#b69b7e"/>
                    <path id="Trazado_21" data-name="Trazado 21" d="M31.647,0A31.647,31.647,0,1,1,0,31.647,31.647,31.647,0,0,1,31.647,0Z" transform="translate(142.14)" fill="#c88770"/>
                    <path id="Trazado_22" data-name="Trazado 22" d="M31.647,0A31.647,31.647,0,1,1,0,31.647,31.647,31.647,0,0,1,31.647,0Z" transform="translate(212.834)" fill="#c3beba"/>
                    <path id="Trazado_23" data-name="Trazado 23" d="M31.647,0A31.647,31.647,0,1,1,0,31.647,31.647,31.647,0,0,1,31.647,0Z" transform="translate(283.527)" fill="#f0e9dd"/>
                  </g>
                </g>
              </svg>
        </div>

        <h2>CONTENIDOS</h2>

        <div class="options">
            <a [routerLink]="['/portfolio']" fragment="introduccion-m" style="font-weight: lighter;">INTRODUCCIÓN</a>
            <a [routerLink]="['/portfolio']" fragment="portada-1-m" style="font-weight: lighter;">COLOR Y MATERIAL APLICADO</a>
            <a [routerLink]="['/portfolio']" fragment="portada-2-m" style="font-weight: lighter;">SILUETAS Y ESTRUCTURAS</a>
            <a [routerLink]="['/portfolio']" fragment="portada-3-m" style="font-weight: normal;">FICHAS TÉCNICAS</a>
            <a [routerLink]="['/portfolio']" fragment="portada-4-m" href="#" style="font-weight: normal;">PATRONAJE Y CONFECCIÓN DE VESTUARIO FEMENINO AVANZADO</a>
            <a [routerLink]="['/portfolio']" fragment="portada-5-m" href="#" style="font-weight: normal;" >ESCALADO INDUSTRIAL AVANZADO</a>
            <a [routerLink]="['/portfolio']" fragment="portada-6-m" href="#" style="font-weight: normal;">DESARROLLO DE LÍNEAS DE PRODUCTOS</a>
            <a [routerLink]="['/portfolio']" fragment="portada-7-m" href="#" style="font-weight: lighter;">MORFOLOGÍA Y ANTROPOMETRÍA APLICADA</a>
            <a [routerLink]="['/portfolio']" fragment="portada-8-m" href="#" style="font-weight: lighter;">PATRONAJE COMPUTACIONAL</a>
            <a [routerLink]="['/portfolio']" fragment="portada-9-m" href="#" style="font-weight: lighter;">PROCESOS INDUSTRIALES PARA LA CONFECCIÓN</a>
            <a [routerLink]="['/portfolio']" fragment="portada-10-m" style="font-weight: lighter;">PRÁCTICA PROFESIONAL</a>
            <a [routerLink]="['/portfolio']" fragment="portada-11-m" style="font-weight: lighter;">EMPRENDIMIENTO</a>
            <a [routerLink]="['/portfolio']" fragment="portada-12-m" style="font-weight: lighter;">PROYECTO COLABORATIVO</a>
            <a [routerLink]="['/portfolio']" fragment="portada-13-m" style="font-weight: lighter;">CONCLUSIONES</a>
            <a [routerLink]="['/portfolio']" fragment="portada-14-m" style="font-weight: lighter;">AGRADECIMIENTOS</a>
        </div>
        
    </section>

    <section class="intro" id="introduccion-m">
        <h2>INTRODUCCIÓN</h2>
        <div class="contenido-intro">
            <div class="box"></div>
            <div class="presentacion">
                <p>En el presente portafolio se evidencian los distintos proyectos realizados durante la carrera Técnico en Producción Industrial de Vestuario, cursada en el Instituto Profesional Duoc UC, Viña del Mar, durante el período comprendido entre el año 2018 a 2021.
                    Dichos proyectos abarcan asignaturas claves, complementarias, proyectos personales y práctica profesional.
                </p>
            </div>
        </div>
    </section>

    <section id="portada-1-m">
        <div class="row">
            <div class="col-12 mb-3">
                <img loading="lazy" style="width: 100%;" src="https://i.ibb.co/QnvrmgD/No-Path-copia-8-2x.png" alt="No-Path-copia-8-2x" border="0">
            </div>
            <div class="col-12">
                <div id="docente"><p style="margin-bottom: -2px; width: 100%;">Docente: Viviana Dinamarca</p>
                    <p style="margin-bottom: -2px">Año 2018</p> 
                    <p>Primer  Semestre</p>
                </div>
            </div>
            <div class="col-12 mt-4 mb-3">
                <p class="ficha">  
                    Se incorporan conceptos relacionados al color en la construcción de una vestimenta. Se entiende que el color puede generar diferentes perspectivas en el cuerpo humano, que éste se puede expandir, alargar o concentrar, dependiendo de las propiedades del color utilizado, como por ejemplo la posición del color, su luminosidad, oscuridad, saturación u opacidad.         
                </p>
            </div>
            <div class="col-12">
                <div class="ramo">
                    <h6 id="subtitle-9" style="margin-left: 70%; margin-bottom: 8px;">CMA1011</h6>
                    <h2 id="texto-9" style="margin-top: 3%;">Color y Material
                        Aplicado</h2>
                    </div>
            </div>
        </div>
    </section>

    <section style="background-color: rgba(195, 190, 186, 0.48); text-align: center; height: auto;">
        <img loading="lazy" style="width: 100%;" src="https://i.ibb.co/PM4fMXG/Grupo-1-2x.png" alt="Grupo-1-2x" border="0">
    </section>

    <section style="text-align: center; height: auto;">
        <img loading="lazy" style="width: 100%;" src="https://i.ibb.co/Cs40QpF/Grupo-2-2x.png" alt="Grupo-2-2x" border="0">
    </section>

    <section style="background-color: rgba(195, 190, 186, 0.48); text-align: center; height: auto;">
        <img loading="lazy" style="width: 100%;" src="https://i.ibb.co/kchy6Md/Grupo-3-2x.jpg" alt="Grupo-3-2x" border="0">
    </section>

    <section id="portada-2-m">
        <div class="row">
            <div class="col-12 mb-3 mt-5">
                <img loading="lazy" style="width: 100%;" src="https://i.ibb.co/Sv5kDp8/1.png" alt="1" border="0">
            </div>
            <div class="col-12">
                <div id="docente"><p style="margin-bottom: -2px; width: 100%;">Docente: Rodolfo Vera</p>
                    <p style="margin-bottom: -2px">Año 2020</p> 
                    <p>Temporada Académica de Verano</p>
                </div>
            </div>
            <div class="col-12 mt-4 mb-3">
                <p class="ficha">  
                    Se estudian las diferentes siluetas generadas en el cuerpo humano, a través de la vestimenta, se entiende silueta como la forma que surge al trazar el contorno de un cuerpo, y también se analiza el cambio a través del tiempo.
Se diseña y confecciona un vestuario enfocado en generar una silueta en el cuerpo, mediante el estudio y la experimentación de diferentes técnicas.   
                </p>
            </div>
            <div class="col-12">
                <div class="ramo">
                    <h6 id="subtitle-9" style="margin-left: 70%; margin-bottom: 8px;">SES2011</h6>
                    <h2 id="texto-9" style="margin-top: 3%;">Siluetas y
                        Estructuras</h2>
                    </div>
            </div>
        </div>
    </section>

    <section style="background-color: rgba(240, 233, 221, 0.82); text-align: center; height: auto;">
        <img loading="lazy" style="width: 100%;" src="https://i.ibb.co/rskDt12/Grupo-2-2x.png" alt="Grupo-2-2x" border="0">
    </section>

    <section style="text-align: center; height: auto;">
        <img loading="lazy" style="width: 100%;" src="https://i.ibb.co/tHbykHt/Grupo-3-2x.png" alt="Grupo-3-2x" border="0">
    </section>

    <section style="background-color: rgba(240, 233, 221, 0.82); text-align: center; height: auto;">
        <img loading="lazy" style="width: 100%;" src="https://i.ibb.co/D8ZfnwF/Grupo-1-2x.png" alt="Grupo-1-2x" border="0">
    </section>

    <section id="portada-3-m">
        <div class="row">
            <div class="col-12 mb-3 mt-5">
                <img loading="lazy" style="width: 100%;"  src="https://i.ibb.co/bXg8Np1/fichas-tecnicas.png" alt="fichas-tecnicas" border="0">
            </div>
            <div class="col-12">
                <div id="docente"><p style="margin-bottom: -2px; width: 100%;">Docente: María Alejandra Rivas</p>
                    <p style="margin-bottom: -2px">Año 2020</p> 
                    <p>Primer Semestre</p>
                </div>
            </div>
            <div class="col-12 mt-4 mb-3">
                <p class="ficha">La ficha técnica permite documentar características técnicas de un producto, como los detalles de confección, esto para asegurar una efectiva elaboración.
                    Su importancia radica cuando se pretende externalizar la confección, ya que esta entrega todo el detalle técnico a la empresa que lo llevará a cabo.
                    Mediante las siguientes fichas se evidencia el manejo de documentación técnica del producto que incide directamente en la producción y los proveedores asociados a la producción de vestuario.
                </p>
            </div>
            <div class="col-12">
                <div class="ramo">
                    <h6 id="subtitle-9" style="margin-left: 70%; margin-bottom: 8px;">FTE3011</h6>
                    <h2 id="texto-9" style="margin-top: 3%;">Fichas Técnicas</h2>
                    </div>
            </div>
        </div>
    </section>

    <section style="text-align: center; height: auto;">
        <img loading="lazy" style="width: 100%;" src="https://i.ibb.co/mTR7GB3/Grupo-10-2x.png" alt="Grupo-10-2x" border="0">
    </section>

    <section style="background-color: #F0E9DD; text-align: center; height: auto;">
        <img loading="lazy" style="width: 100%;"  src="https://i.ibb.co/JdrJj0H/1.png" alt="1" border="0">
    </section>

    <section style="text-align: center; height: auto;">
        <img loading="lazy" style="width: 90%;" src="https://i.ibb.co/dgCNvzP/2.png" alt="2" border="0">
    </section>

    <section style="text-align: center; background-color: #F0E9DD; height: auto;">
        <img loading="lazy" style="width: 100%; " src="https://i.ibb.co/mTh0Mf6/3.png" alt="3" border="0">
    </section>

    <section style="text-align: center; height: auto;">
        <img loading="lazy" style="width: 100%;" src="https://i.ibb.co/9rn2LMs/4.png" alt="4" border="0">
    </section>

    <section style="text-align: center; background-color: #F0E9DD; height: auto;">
        <img loading="lazy" style="width: 100%;" src="https://i.ibb.co/B371Vvq/5.png" alt="5" border="0">
    </section>

    <section style="text-align: center; height: auto;">
        <img loading="lazy" style="width: 100%;" src="https://i.ibb.co/qj8VSWR/6.png" alt="6" border="0">
    </section>

    <section style="text-align: center; background-color: #F0E9DD; height: auto;">
        <img loading="lazy" style="width: 100%;" src="https://i.ibb.co/KsWKbcQ/7.png" alt="7" border="0">
    </section>

    <section style="text-align: center; height: auto;">
        <img loading="lazy" style="width: 100%;" src="https://i.ibb.co/7gtBkMZ/8.png" alt="8" border="0">
    </section>

    <section id="portada-4-m">
        <div class="row">
            <div class="col-12 mb-3 mt-5">
                <img loading="lazy" style="width: 100%;"  src="https://i.ibb.co/X7RK3BP/patronaje-1.png" alt="patronaje-1" border="0">
            </div>
            <div class="col-12">
                <div id="docente"><p style="margin-bottom: -2px; width: 100%;">Docente: Alejandra Vallejo Año 2018</p>
                    <p style="margin-bottom: -2px">Año 2018</p> 
                    <p>Segundo Semestre</p>
                </div>
            </div>
            <div class="col-12 mt-4 mb-3">
                <p class="ficha">
                    El patronaje es el plano que sirve como plantilla para cortar cada uno de los componentes de una prenda. 
Mediante los siguientes proyectos que comprenden un corsé, bustier y un vestido corte sirena, se evidencia la implementación de formatos de corsetería y alta costura en el desarrollo de patrones y el trazado de las correcciones.
                </p>
            </div>
            <div class="col-12">
                <div class="ramo">
                    <h6 id="subtitle-9" style="margin-left: 70%; margin-bottom: 8px;">PCV2011</h6>
                    <h2 id="texto-9" style="margin-top: 3%;">Patronaje y Confección
                        de Vestuario Femenino
                         Avanzado</h2>
                    </div>
            </div>
        </div>
    </section>

    <section style="text-align: center; background: rgba(240, 233, 221, 0.82); height: auto;">
        <img loading="lazy" style="width: 100%;" src="https://i.ibb.co/NSX2Y2Z/1.png" alt="1" border="0">
    </section>

    <section style="text-align: center; height: auto;">
        <img loading="lazy" style="width: 100%;" src="https://i.ibb.co/7jzDcKy/2.jpg" alt="2" border="0">
    </section>

    <section style="text-align: center; background: rgba(240, 233, 221, 0.82); height: auto;">
        <img loading="lazy" style="width: 100%;" src="https://i.ibb.co/yq8wgZm/3.png" alt="3" border="0">
    </section>

    <section style="text-align: center; height: auto;">
        <img loading="lazy" style="width: 100%;" src="https://i.ibb.co/qDBPVFw/4.jpg" alt="4" border="0">
    </section>

    <section style="text-align: center; background: rgba(240, 233, 221, 0.82); height: auto;">
        <img loading="lazy" style="width: 100%;" src="https://i.ibb.co/gWHJrFr/5.png" alt="5" border="0">
    </section>

    <section style="text-align: center; height: auto;">
        <img loading="lazy" style="width: 100%;" src="https://i.ibb.co/w6LCR05/6.png" alt="6" border="0">
    </section>

    <section style="text-align: center; background: rgba(240, 233, 221, 0.82); height: auto;">
        <img loading="lazy" style="width: 100%;"src="https://i.ibb.co/HXHTPvg/patronaje-2.jpg" alt="patronaje-2" border="0">
    </section>

    <section id="portada-5-m">
        <div class="row">
            <div class="col-12 mb-3 mt-5">
                <img loading="lazy" style="width: 100%;" src="https://i.ibb.co/ckz32YJ/1.png" alt="1" border="0">
            </div>
            <div class="col-12">
                <div id="docente"><p style="margin-bottom: -2px; width: 100%;">Docente: Rodolfo Vera</p>
                    <p style="margin-bottom: -2px">Año 2019</p> 
                    <p>Segundo Semestre</p>
                </div>
            </div>
            <div class="col-12 mt-4 mb-3">
                <p class="ficha">
                    El escalado consiste en llevar una prenda a varias tallas, es decir, el patrón de una prenda se lleva a tallas más grandes y más pequeñas. El escalado es importante en la producción industrial ya que este proceso permite realizar una producción a gran escala.
                    En este proceso se evidencia el mapa de transformación, la ficha de diseño y el mapa de escalado de un blazer femenino, todo esto para desarrollar un tallaje a partir de un sistema de escalado industrial para la producción en serie.
                </p>
            </div>
            <div class="col-12">
                <div class="ramo">
                    <h6 id="subtitle-9" style="margin-left: 70%; margin-bottom: 8px;">EIN4011</h6>
                    <h2 id="texto-9" style="margin-top: 3%;">Escalado Industrial
                        Avanzado</h2>
                    </div>
            </div>
        </div>
    </section>

    <section style="text-align: center; height: auto;">
        <img loading="lazy" style="width: 100%;" src="https://i.ibb.co/gZ21grB/2.png" alt="2" border="0">
    </section>

    <section style="text-align: center; background: rgba(182, 155, 126, 0.60); height: auto;">
        <img loading="lazy" style="width: 100%;" src="https://i.ibb.co/5hxTLNh/3.png" alt="3" border="0">
    </section>

    <section style="text-align: center; height: auto;">
        <img loading="lazy" style="width: 100%;" src="https://i.ibb.co/MRZWYWW/4.png" alt="4" border="0">
    </section>

    <section style="text-align: center; background: rgba(182, 155, 126, 0.60); height: auto;">
        <img loading="lazy" style="width: 100%;" src="https://i.ibb.co/kKp6NNp/5.png" alt="5" border="0">
    </section>

    <section style="text-align: center; height: auto;">
        <img loading="lazy" style="width: 100%;" src="https://i.ibb.co/wQrN8vs/6.png" alt="6" border="0">
    </section>

    <section id="portada-6-m">
        <div class="row">
            <div class="col-12 mb-3 mt-5">
                <img loading="lazy" style="width: 100%;" src="https://i.ibb.co/F7rf44H/1.png" alt="1" border="0">
            </div>
            <div class="col-12">
                <div id="docente"><p style="margin-bottom: -2px; width: 100%;">Docente: Marta García</p>
                    <p style="margin-bottom: -2px">Año 2019</p> 
                    <p>Segundo Semestre</p>
                </div>
            </div>
            <div class="col-12 mt-4 mb-3">
                <p class="ficha">
                    Una línea de productos se compone por una serie de productos que presentan características similares.
                    En este ramo se busca desarrollar soluciones de diseño para productos competitivos, mediante uso de una bitácora que registra guías de estilo, vestuario del consumidor, planificación de líneas de productos, una vitrina con 8 diseños, y un planning técnico de la línea.
                    También se muestra una vitrina digital y se seleccionan alternativas formales de líneas de productos de vestuario o de acuerdo a una proyección de vestuario.
                    Se elabora un prototipo de vestuario masculino, un look completo para un usuario específico.
                </p>
            </div>
            <div class="col-12">
                <div class="ramo">
                    <h6 id="subtitle-9" style="margin-left: 70%; margin-bottom: 8px;">DRP4011</h6>
                    <h2 id="texto-9" style="margin-top: 3%;">Desarrollo de
                        Líneas de Productos</h2>
                    </div>
            </div>
        </div>
    </section>

    <section style="text-align: center; background: rgba(195, 190, 186, 0.6); height: auto;">
        <img loading="lazy" style="width: 100%;" src="https://i.ibb.co/PT1sVM3/Grupo-12-2x.png" alt="2" border="0">
    </section>

    <section style="text-align: center; height: auto;">
        <img loading="lazy" style="width: 100%;" src="https://i.ibb.co/mt4cmmh/Grupo-13-2x.png"  alt="2" border="0">
    </section>

    <section style="text-align: center; background: rgba(195, 190, 186, 0.6); height: auto;">
        <img loading="lazy" style="width: 100%;" src="https://i.ibb.co/jVQ4KN1/Grupo-14-2x.png" alt="2" border="0">
    </section>

    <section style="text-align: center; height: auto;">
        <img loading="lazy" style="width: 100%; " src="https://i.ibb.co/b3WXHWZ/Grupo-15-2x.png" alt="2" border="0">
    </section>

    <section style="text-align: center; background: rgba(195, 190, 186, 0.6); height: auto;">
        <img loading="lazy" style="width: 100%;" src="https://i.ibb.co/pjYXT0k/Grupo-16-2x.png" alt="2" border="0">
    </section>

    <section style="text-align: center; height: auto;">
        <img loading="lazy" style="width: 100%;" src="https://i.ibb.co/LznGpdq/Grupo-17-2x.png" alt="2" border="0">
    </section>

    <section style="text-align: center; background: rgba(195, 190, 186, 0.6); height: auto;">
        <img loading="lazy" style="width: 100%;" src="https://i.ibb.co/0VLXT4t/Grupo-18-2x.png" alt="2" border="0">
    </section>

    <section style="text-align: center; height: auto;">
        <img loading="lazy" style="width: 100%;" src="https://i.ibb.co/9YfWQzq/2.png" alt="2" border="0">
    </section>

    <section style="text-align: center; background: rgba(195, 190, 186, 0.6); height: auto;">
        <img loading="lazy" style="width: 100%;" src="https://i.ibb.co/8mfB7rn/Grupo-20-2x.png" alt="2" border="0">
    </section>

    <section style="text-align: center; height: auto;">
        <img loading="lazy" style="width: 100%;" src="https://i.ibb.co/vDwN1fc/3.png" alt="3" border="0">
    </section>

    <section id="portada-7-m">
        <div class="row">
            <div class="col-12 mb-3 mt-5">
                <img loading="lazy" style="width: 100%" src="https://i.ibb.co/BcjPLH2/1.jpg" alt="1" border="0">
            </div>
            <div class="col-12">
                <div id="docente"><p style="margin-bottom: -2px; width: 100%;">Docente: Carola Villanueva</p>
                    <p style="margin-bottom: -2px">Año 2019</p> 
                    <p>Primer Semestre</p>
                </div>
            </div>
            <div class="col-12 mt-4 mb-3">
                <p class="ficha">
                    La morfología estudia y describe las formas externas de un objeto, en este caso el cuerpo humano. Por otro lado, la antropometría estudia las proporciones y las medidas del cuerpo humano.
                    Los estudios morfológicos y antropométricos del usuario son importantes al construir un vestuario, de esta forma el vestuario se adapta a las necesidades de cada usuario. 
                    
                    En este ramo se realizan dos proyectos grupales, el primero un look editorial inspirado en el Museo Interactivo Mirador, y el segundo un vestuario infantil inspirado en el MIM y en una exposición visual de Optiko, ambos proyectos aplican los conceptos de Morfología y Antropometría, mediante una investigación y estudio previo.
                </p>
            </div>
            <div class="col-12">
                <div class="ramo">
                    <h6 id="subtitle-9" style="margin-left: 70%; margin-bottom: 8px;">MAA3011</h6>
                    <h2 id="texto-9" style="margin-top: 3%;">Morfología y 
                        Antropometría Aplicada</h2>
                    </div>
            </div>
        </div>
    </section>

    <section style="text-align: center; background: rgba(200, 135, 112, 0.6); height: auto;">
        <img loading="lazy" style="width: 100%;" src="https://i.ibb.co/bswNd8V/2.png" alt="2" border="0">
    </section>

    <section style="text-align: center; height: auto;">
        <img loading="lazy" style="width: 100%;" src="https://i.ibb.co/gZjfjSQ/3.png" alt="3" border="0">
    </section>

    <section style="text-align: center; background: rgba(200, 135, 112, 0.6); height: auto;">
        <img loading="lazy" style="width: 100%;" src="https://i.ibb.co/d0wHZy9/4.jpg" alt="4" border="0">
    </section>

    <section style="text-align: center; height: auto;">
        <img loading="lazy" style="width: 100%;" src="https://i.ibb.co/3rfZMQB/5.jpg" alt="5" border="0">
    </section>

    <section style="text-align: center; background: rgba(200, 135, 112, 0.6); height: auto;">
        <img loading="lazy" style="width: 100%;" src="https://i.ibb.co/yfvMjkx/6.png" alt="6" border="0">
    </section>

    <section style="text-align: center; height: auto;">
        <img loading="lazy" style="width: 100%;" src="https://i.ibb.co/qgc73nW/8.jpg" alt="8" border="0">
    </section>

    <section style="text-align: center; height: auto;">
        <img loading="lazy" style="width: 100%;" src="https://i.ibb.co/LnHjXWn/7.jpg" alt="7" border="0">
    </section>

    <section id="portada-8-m">
        <div class="row">
            <div class="col-12 mb-3 mt-5">
                <img loading="lazy" style="width: 100%;" src="https://i.ibb.co/Km11KhM/No-Path-copia-2-2x.png" alt="No-Path-copia-2-2x" border="0">
            </div>
            <div class="col-12">
                <div id="docente"><p style="margin-bottom: -2px; width: 100%;">Docente: Lorena Fuenzalida</p>
                    <p style="margin-bottom: -2px">Año 2020</p> 
                    <p>Segundo Semestre</p>
                </div>
            </div>
            <div class="col-12 mt-4 mb-3">
                <p class="ficha">
                    El patronaje digital es llevar la moldería análoga a un formato computarizado, siguiendo las mismas teorías del patronaje tradicional.
En el software se realiza el patrón plano, sus capacidades de costura, su escalado y luego su marcada digital (tendido de tela), la cual permite optimizar el material a la hora del corte de tela.
Los softwares utilizados fueron los de Lectra Systémes, los cuales son Modaris y Diamino, en ellos se realizaron una serie de moldes bases con sus transformaciones.
                </p>
            </div>
            <div class="col-12">
                <div class="ramo">
                    <h6 id="subtitle-9" style="margin-left: 70%; margin-bottom: 8px;">PCO5011</h6>
                    <h2 id="texto-9" style="margin-top: 3%;">Patronaje
                        Computacional</h2>
                    </div>
            </div>
        </div>
    </section>

    <section style="text-align: center; background: rgba(195, 190, 186, 0.8); height: auto;" >
        <img loading="lazy" style="width: 100%;"  src="https://i.ibb.co/0VvDNLF/Grupo-3-2x.png"  alt="1" border="0">
    </section>

    <section style="text-align: center; height: auto;" >
        <img loading="lazy" style="width: 100%;"  src="https://i.ibb.co/cDKsRQC/Grupo-4-2x.png"  alt="2" border="0">
    </section>

    <section style="text-align: center; background: rgba(195, 190, 186, 0.8); height: auto;" >
        <img loading="lazy" style="width: 100%;"  src="https://i.ibb.co/89hLHhj/Grupo-5-2x.png"   alt="3" border="0">
    </section>

    <section style="text-align: center; height: auto;" >
        <img loading="lazy" style="width: 100%;"  src="https://i.ibb.co/cxTSQPC/Grupo-6-2x.png"   alt="4" border="0">
    </section>

    <section style="text-align: center;background: rgba(195, 190, 186, 0.8); height: auto;" >
        <img loading="lazy" style="width: 100%;"  src="https://i.ibb.co/99mztG5/Grupo-7-2x.png"   alt="5" border="0">
    </section>

    <section id="portada-9-m">
        <div class="row">
            <div class="col-12 mb-3 mt-5">
                <img loading="lazy" style="width: 100%;" src="https://i.ibb.co/bzwxJCC/1.png" alt="1" border="0">
            </div>
            <div class="col-12">
                <div id="docente"><p style="margin-bottom: -2px; width: 100%;">Docente: María Alejandra Rivas</p>
                    <p style="margin-bottom: -2px">Año 2020</p> 
                    <p>Primer Semestre</p>
                </div>
            </div>
            <div class="col-12 mt-4 mb-3">
                <p class="ficha">
                    Los procesos industriales permiten llevar a cabo una producción de vestuario de forma eficiente en una empresa. Reduciendo los costos y potencializando las ganancias, todo esto a través de herramientas de control y planificación.
Mediante las siguientes evidencias se muestra el proceso de producción de una marca ficticia, CALISPRO, la cual consiste en una línea deportiva masculina enfocada en un usuario que asiste al gimnasio y que practica calistenia.
                </p>
            </div>
            <div class="col-12">
                <div class="ramo">
                    <h6 id="subtitle-9" style="margin-left: 70%; margin-bottom: 8px;">PIC5012</h6>
                    <h2 id="texto-9" style="margin-top: 3%;">Procesos Industriales
                        para la Confección</h2>
                    </div>
            </div>
        </div>
    </section>

    <section style="text-align: center; height: auto;" >
        <img loading="lazy" style="width: 100%;" src="https://i.ibb.co/gVxKP5C/2.png" alt="2" border="0">
    </section>

    <section style="text-align: center; background: rgba(195, 190, 186, 0.56); height: auto;" >
        <img loading="lazy" style="width: 100%;" src="https://i.ibb.co/xXf9krq/3.png" alt="3" border="0">
    </section>

    <section style="text-align: center; height: auto;" >
        <img loading="lazy" style="width: 100%;" src="https://i.ibb.co/6DK1wNw/4.png" alt="4" border="0">
    </section>

    <section style="text-align: center; background: rgba(195, 190, 186, 0.56); height: auto;" >
        <img loading="lazy" style="width: 100%;" src="https://i.ibb.co/tJFmTwy/5.png" alt="5" border="0">
    </section>

    <section style="text-align: center; height: auto;" >
        <img loading="lazy" style="width: 100%;" src="https://i.ibb.co/KGyfsgC/8.png" alt="8" border="0">
    </section>

    <section style="text-align: center; background: rgba(195, 190, 186, 0.56); height: auto;" >
        <img loading="lazy" style="width: 100%;" src="https://i.ibb.co/9gQNCm2/9.png" alt="9" border="0">
    </section>

    <section style="text-align: center; height: auto;" >
        <img loading="lazy" style="width: 100%;" src="https://i.ibb.co/xHzyWyV/10.png" alt="10" border="0">
    </section>

    <section style="text-align: center; background: rgba(195, 190, 186, 0.56); height: auto;" >
        <img loading="lazy" style="width: 100%;" src="https://i.ibb.co/6W4WDtY/11.png" alt="11" border="0">
    </section>

    <section style="text-align: center; height: auto;" >
        <img loading="lazy" style="width: 100%;" src="https://i.ibb.co/dKrrQxk/12.png" alt="12" border="0">
    </section>

    <section style="text-align: center; background: rgba(195, 190, 186, 0.56); height: auto;" >
        <img loading="lazy" style="width: 100%;" src="https://i.ibb.co/Bf2DM2W/13.png" alt="13" border="0">
    </section>

    <section class="video-9 mb-4" style="height: auto;">
        <iframe width="80%" height="500" src="https://www.youtube.com/embed/z7Jsnv2LOdo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </section>


    <section id="portada-10-m">
        <div class="row">
            <div class="col-12 mb-3 mt-5">
                <img loading="lazy" style="width: 100%;" src="https://i.ibb.co/LQGZ1Lz/1.png" alt="1" border="0">
            </div>
            <div class="col-12">
                <div id="docente"><p style="margin-bottom: -2px; width: 100%;">Docente: Lorena Fuenzalida</p>
                    <p style="margin-bottom: -2px">Año 2021</p> 
                    <p>Primer Semestre</p>
                </div>
            </div>
            <div class="col-12 mt-4 mb-3">
                <p class="ficha">
                    Se aplican todos los conocimientos relacionados a la gestión y apoyo en el área digital de la marca, en el desarrollo de ideas, interpretación de los diseños hacia el patronaje, trabajar la edición de fotografías, tendido y corte de tela.
                </p>
            </div>
            <div class="col-12">
                <div class="ramo">
                    <h2 id="texto-9" style="margin-top: 3%;">Práctica 
                        Profesional</h2>
                    </div>
            </div>
        </div>
    </section>

    <section style="text-align: center; height: auto;" >
        <img loading="lazy" style="width: 100%;" src="https://i.ibb.co/Y3tQJN1/2.png" alt="2" border="0">
    </section>

    <section style="text-align: center; background: rgba(195, 190, 186, 0.58); height: auto;" >
        <img loading="lazy" style="width: 100%;" src="https://i.ibb.co/bdqr6wk/Grupo-6-2x.jpg" alt="Grupo-6-2x" border="0">
    </section>

    <section style="text-align: center; height: auto;" >
        <img loading="lazy" style="width: 100%;" src="https://i.ibb.co/7WZHBsF/4.png" alt="4" border="0">
    </section>

    <section id="portada-11-m">
        <div class="row">
            <div class="col-12 mb-3 mt-5">
                <img loading="lazy" style="width: 100%;" src="https://i.ibb.co/VLYtpWQ/5.png" alt="5" border="0">
            </div>
            <div class="col-12 mt-4 mb-3">
                <p class="ficha">
                    Se aplican todos los conocimientos aprendidos en la carrera de diseño de vestuario para la creación de una marca personal "Hamphy".
                Marca de moda lenta que busca abrirse camino en el mercado internacional.
                Marca para un usuario joven de entre 17 a 37 años. Sus principios son entregar ropa de buena calidad, de buen calce, considerando que cada cuerpo es único. Entregar un diseño cómodo, funcional y de buen gusto.
                </p>
            </div>
            <div class="col-12">
                <div class="ramo">
                    <h2 id="texto-9" style="margin-top: 3%;">Hamphy</h2>
                    </div>
            </div>
        </div>
    </section>

    <section style="text-align: center; height: auto;" >
        <img loading="lazy" style="width: 100%;" src="https://i.ibb.co/5k9GLrZ/6.png" alt="6" border="0">
    </section>

    <section id="portada-12-m">
        <div class="row">
            <div class="col-12 mb-3 mt-5">
                <img loading="lazy" style="width: 100%;" src="https://i.ibb.co/Y2t12MM/7.png" alt="7" border="0">
            </div>
            <div class="col-12 mt-4 mb-3">
                <p class="ficha">
                    Este proyecto fue realizado en conjunto a una estudiante de Diseño de la universidad de Valparaíso, Paula Gonzalez. El proyecto  consistía en la creación de una línea de trajes de baños inclusivas, es decir pensadas en todo tipo de cuerpos.
Mi aporte fue el patronaje del prototipo y los dibujos técnicos de las propuestas de su línea de trajes de baños.
                </p>
            </div>
            <div class="col-12">
                <div class="ramo">
                    <h2 id="texto-9" style="margin-top: 3%;">Proyecto colaborativo</h2>
                    </div>
            </div>
        </div>
    </section>

    <section style="text-align: center; height: auto;" >
        <img loading="lazy" style="width: 100%; margin-top: 2%;" src="https://i.ibb.co/mrpYfwF/8.png" alt="8" border="0">
    </section>

    <section style="text-align: center; height: auto;" >
        <img loading="lazy" style="width: 100%;" src="https://i.ibb.co/N6bQ0g7/9.png" alt="9" border="0">
    </section>

    <section style=" text-align: center; height: auto;">
        <img loading="lazy" src="https://i.ibb.co/kKHX8KV/telas.jpg" style="width: 100%; height: 50vh;" alt="telas" border="0">
    </section>

    <section class="intro bg-white mb-4" id="portada-13-m">
        <h2>CONCLUSIONES</h2>
        <div class="contenido-intro">
            <img loading="lazy" style="width: 95%;" src="https://i.ibb.co/h7Hz8mz/11.png" alt="11" border="0">
        </div>
    </section>

    <section class="intro pb-4" id="portada-14-m">
        <h2>AGRADECIMIENTOS</h2>
        <div class="contenido-intro">
            <img loading="lazy" style="width: 95%;" src="https://i.ibb.co/d2d2yd3/Grupo-4-2x.png" alt="Grupo-7-2x" border="0">
        </div>
    </section>

    <section>
       
    </section>

    <div class="position-relative">
        <div class="position-absolute bottom-0 start-0">
        <p style="margin-bottom: -1%; margin-left: 10%;">Portafolio de Título</p>
        <p style="margin-bottom: -1%; margin-left: 10%;">2021</p>
        <p style="margin-bottom: -1%; margin-left: 10%;">Daniela Fuentes Méndez</p>
        <p style="margin-bottom: -1%; margin-left: 10%; width: 100%;">Técnico en Producción Industrial de Vestuario</p>
        <p style="margin-bottom: 10%; margin-left: 10%;">Duoc UC Viña del Mar</p>
        </div>
    </div>
    
</body>