@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

.image{
    display: inline-flex;
}

//cambiar a absoluta para cambiar imagen
img{
    position: relative;
    width: 420px;
    height: 472px;
    margin-bottom: 60px;
    top:30px;
    left: 10px;
    margin-right: 100px;
}

//balls
.balls{
    height: auto;
    width: 9%;
    display: flex;
    position: relative;
    flex-direction: column-reverse;
    top:-30px;
}

.balls i{
    margin: 8px 3px 0px 3px;
    float: left;
	width: 50px;
	height: 50px;
	border-radius: 100%;
}

#color-1{
    background: rgba(158, 114, 78, 0.8);
}

#color-2{
    background:rgba(182, 155, 126, 0.8);
}

#color-3{
    background: rgba(200, 135, 112, 0.8);
}

#color-4{
    background: rgba(195, 190, 186, 0.8);
}

#color-5{
    background: rgba(240, 233, 221, 0.8);
}

.about {
    display: inline-block;
    width: 60%;
    position: relative;
    text-align: center;
    font-family: 'Overpass', sans-serif;
    font-style: oblique;
    font-weight: lighter;
    top: 125px;
    left: -50px;
}

.about h2{
    font-size: 28px;
    margin-bottom: 5px;
}

.title{
    background:rgba(182, 155, 126, 0.68);
    color: white;
    width: 98%;
    border-radius: 0px 20px 20px 0px;
    text-align:center;
    font-family: 'Overpass', sans-serif;
    font-style:normal;
    font-size: 28px;
    padding-top: 4px;
    padding-left: 290px;
}

.antecedentes{
    font-size: 25px;
    text-align: justify;
    width: 45%;
    position: relative;
    left: 49%;
    padding: 15px 0px;
    font-family: 'Segoe UI';
}

.antecedentes p{
    margin-bottom: 2px;
}

.habilidades-digitales{
    font-family: 'Segoe UI';
    padding: 15px 0px;
    text-align: center;
    width: 45%;
    font-size: 25px;
    position: relative;
    left: 47%;
}

.habilidades-digitales p{
    margin: -1px 0px;
}

.competencias{
    font-family: 'Segoe UI';
    width: 100%;
    font-size: 25px;
    position: relative;
    left: 49%;
    padding: 15px 0px;
}

.competencias p{
    width: 43%;
    margin: -1px 0px;
}

.idiomas{
    font-family: 'Segoe UI';
    width: 45%;
    font-size: 25px;
    position: relative;
    left: 49%;
    padding: 15px 0px;
}

.idiomas p{
    margin: -1px 0px;
}

.logros{
    font-family: 'Segoe UI';
    padding: 15px 0px;
    text-align: center;
    width: 100%;
    font-size: 25px;
    position: relative;
    left: 47%;
}


.logros p{
    margin: -1px 0px;
    width: 43%;
}

.habilidades{
    margin-top: 20px;
    font-family: 'Segoe UI';
    width: 40%;
    font-size: 25px;
    position: relative;
    left: 49%;
    text-align: center;
    margin-bottom: 20px;
}

.habilidades p{
    margin-bottom: 2px;
}

.intereses{
    margin-top: 20px;
    font-family: 'Segoe UI';
    width: 40%;
    font-size: 25px;
    position: relative;
    left: 49%;
    text-align: center;
    margin-bottom: 60px;
    line-height: 38px;
}

.contenido{
    display: flex;
}

.izquierda{
    width: 50%;
}

.derecha{
    width: 30%;
    text-align: center;
    background: rgba(195,190,186, 0.6);
    font-family: 'Segoe UI';
    margin-bottom: 30px;
}

.derecha section{
    padding-top: 3px;
    padding-bottom: 30px;
}

.derecha section h2{
    font-size: 28px;
    font-weight: normal;
    padding-top: 3px;
    font-family: 'Overpass', sans-serif;
    font-style:normal;
}

.derecha section h3{
    font-size: 25px;
}

.derecha section h3{
    text-decoration: underline;
}

.administracion{
    width: 46%;
    position: relative;
    left: 28%;
}

.derecha section h4{
    color: #C88770;
    padding-top: 3px;
    margin-bottom: 1px;
    font-size: 25px;
    font-weight: normal;
}

.derecha section p{
    font-size: 25px;
    width: 70%;
    position: relative;
    left: 15%; 
    margin-bottom: 0px;
}

.exp-prof p, .exp p{
    margin-bottom: -5px;
    text-align: start;
}

.iconos{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    position: relative;
    left: -20px;
}


.iconos a{
    text-decoration: none;
    color: black;
    width: 9%;
}


.iconos a i{
    font-size: 40px;
   margin-top: 11px;
    padding-top: 10px; 
}

.iconos span{
    font-size: 40px;
    font-weight: lighter;
    padding-top: 6px;
    margin: 0px 4px;
}