<footer>
    <div class="container">
        <div class="wrapper">
            <h2 class="title"> <button routerLink="/home" routerLinkActive="active">DANIELA FUENTES </button></h2>
            <div class="icons">
                <a href="https://www.facebook.com/Hamphy-101604702002780" target="_blank"><i class="fab fa-facebook-f" target="_blank"></i></a>
                <a href="https://www.instagram.com/daaniprrr/" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/daniela-fuentes-méndez-9b9408200" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                <a href="https://www.youtube.com/channel/UCHlBPc50EzW5BUYMI6SnOWg" target="_blank"><i class="fab fa-youtube"></i></a>
            </div>
            <div class="email">
                <a href="mailto:daani.fuentes@hotmail.com"><i class="fas fa-envelope"></i>daani.fuentes@hotmail.com</a>
            </div>
            <div class="wsp">
                <a href="https://wa.link/49jer2" target="_blank"><i class="fas fa-phone-alt"></i>(+56) 9 45138887</a>
            </div>
        </div>
    </div>
</footer>