<div class="sidebar">
    <button type="button" class="fas fa-ellipsis-h" id="button-sidenar" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"></button>
</div>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header">
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close" style="font-size: 30px;"></button>
    </div>
    <div class="offcanvas-body">
      <div class="container mt-5">
          <div class="row justify-content-center">
            <div class="col-10 mt-5">
                <a routerLink="/home" class="direction">INICIO</a>
            </div>
          </div>   
          <div class="row justify-content-center">
            <div class="col-10">
                <a routerLink="/about" class="direction">SOBRE MÍ</a>
            </div>
          </div>   
          <div class="row justify-content-center">
            <div class="col-10">
                <a routerLink="/portfolio" class="direction">PORTAFOLIO</a>
            </div>
          </div>  
          <div class="row justify-content-center">
            <div class="col-10">
                <a routerLink="/curriculum" class="direction">CV</a>
            </div>
          </div> 

          <div class="row justify-content-center">
            <div class="col-12">
              <div class="icons">
                <a href="https://www.facebook.com/Hamphy-101604702002780" target="_blank"><i class="fab fa-facebook-f" target="_blank"></i></a>
                <a href="https://www.instagram.com/daaniprrr/" target="_blank" style=background:#C88770;><i class="fab fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/daniela-fuentes-méndez-9b9408200" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                <a href="https://www.youtube.com/channel/UCHlBPc50EzW5BUYMI6SnOWg" target="_blank" style=background:#C88770;><i class="fab fa-youtube"></i></a>
            </div>
            </div>
          </div> 
      </div>  
    </div>
</div>
